[2013-03-05 13:56] cmey opened #1 "Gaston package"
The doc says to do

Pkg.add("Gaston")

but I get

julia> Pkg.add("Gaston")
ERROR: Unknown package Gaston; Perhaps you need to Pkg.update() for new metadata?
 in anonymous at no file:118
 in cd at file.jl:26
 in cd_pkgdir at pkg.jl:34
 in add at pkg.jl:113
 in add at pkg.jl:145

With julia release-0.1 AND with latest julia HEAD.

[2013-03-05 14:00] #1 closed, assigned to nobody

[2013-03-05 14:19] ViralBShah opened #2 "Updates to README"
It would be nice if the README were updated to reflect the fact that one has to use the Gaston module to use Gaston functions.

[code]

Also, `gaston_demos()` doesn't exist, and one has to use `Gaston.gaston_demo()` to get the demo to run. Of course, the other alternative is to do `importall Gaston`, and then `gaston_demo()` works fine.

[2013-03-05 14:20] ViralBShah opened #3 "gaston_demo() fails on Mac"
On my mac, doing `gaston_demo()` yields:

[code]

[2013-03-05 14:33] #2 closed, assigned to nobody

[2013-03-05 15:42] milktrader opened #4 "Saving to file crops the image"
Using the example in the PDF docs.

[code]

The original plot generated looks right, with the title and x and y labels. The saved file crops off the title, x-label and y-label

[2013-03-05 16:06] #3 closed, assigned to nobody

[2013-03-05 18:16] milktrader opened #5 "Feature request: support for time series"
I've seen several examples of using gnuplot for plotting time series. This functionality might already be exposed in `Gaston`.

[code]
This produces a plot that looks like this:

http://imgur.com/jcaMKcm

[2013-03-11 04:28] ViralBShah opened #6 "Gaston error on Pkg.update()"
I did a `Pkg.update()` and I got this error with Gaston. I am running on julia master:

[code]

[2013-04-02 21:48] yeysus opened #7 "Cannot install"
Hi Miguel. Julia 0.2.0, CentOS 6.4, gnuplot 4.6.2, cairo 1.8.8, pango 1.28.1, Gaston fails. Any ideas? Thanks, Jesus.

Pkg.add("Gaston")
...
MESSAGE: Attempting to Create directory /root/.julia/Cairo/deps/src/cairo-1.12.8
execvp(): No such file or directory
tar: This does not look like a tar archive
tar: Exiting with failure status due to previous errors
ERROR: failed processes:
  Process(`unxz -c

[2013-04-02 22:19] #7 closed, assigned to nobody

[2013-04-03 22:18] #6 closed, assigned to nobody

[2013-04-03 22:29] #4 closed, assigned to nobody

[2013-04-11 13:23] milktrader opened #8 "Gaston types are not exported"
[code]

[2013-04-11 13:34] milktrader opened #9 "Remove copyright text from source files"
The `LICENSE.txt` file should cover any liability or copyright issues. It makes it easier to navigate the code without the extra text.

@StefanKarpinski can confirm this

[2013-04-11 19:18] #8 closed, assigned to nobody

[2013-05-02 13:40] michelk opened #10 "yrange"
Is it possible to define axis-ranges?

I tried the following without success

[code]

[2013-05-05 01:34] #9 closed, assigned to nobody

[2013-05-06 03:00] wlbksy opened #11 "[0.2]gaston_demo"
[code]

[2013-05-06 03:19] #11 closed, assigned to nobody

[2013-05-06 16:49] mbaz opened #12 "Discover gnuplot's capabilities before attempting to plot."
A given gnuplot installation can have limited support for screen or for file terminal. Gaston should not assume that any of these capabilties are present, but should try to discover them and set up itself accordingly.

[2013-07-23 19:35] bpostlethwaite opened #16 "gaston + gnuplot-x11 not persisting"
gnuplot closes immediately after being called, which also closes the plot window.
Adding the `-persist` flag to the `gnuplot_init()` function inside `gaston_aux.js` remedies the problem.

I am using Ubuntu 13.04, Julia 0.1.2 and gnuplot-x11 (the package that includes wxt) version 4.6 patchlevel 1

Code:
[code]

[2013-08-08 15:18] stevengj opened #18 "Add Base.writemime methods for export"
We've recently added a [general API for multimedia I/O](http://docs.julialang.org/en/latest/stdlib/base/#multimedia-i-o) to Julia's standard library.  What this allows you to do is to write a `writemime` method for any of your types that exports it to any MIME type you know how to write, and then `display(x)` on that type will automatically display it on any supporting display that has been loaded

[2013-08-16 17:24] jglodo opened #19 "Gaston and Windows 7"
Hi, I tried to use Gaston on Windows 7, and run into a few issues, that I empirically found solutions to:
1) Gaston.jl line 17:

     if !success(`which gnuplot`)

'which' does not run directly.  To solve this problem I have changed the line to :

    if !success(`bash which gnuplot`)

2) Gaston.jl line 36:

    gnuplot_state = GnuplotState(false,0,0,string("/tmp/gaston-",ENV["USER"], "-",randstri

[2013-08-20 13:14] TomVCG opened #20 "gnuplot not available"
Hi,

I'm trying to use the Gaston package, but when I press using Gaston, Julia says gnuplot is not available on this system. I opened the ENV["PATH"], the directory for gnuplot is not in the list, but I can't seem to get it to be added to the list.

I'm new to the language, so it could be I'm missing something straightforward, but I can't seem to find a solution that works.

please help.

[2013-09-07 20:54] zhemao opened #21 "Mid-level API not being exported"
I have a program in which I want to add curves to a plot iteratively. The documentation says to use addcoords in order to accomplish this. However, I am unable to do so because the mid-level functions and types like addcoords, CurveConf, etc. are not exported. Was this an oversight, or has the mid-level API been removed from the public interface? If the latter, how do I go about iteratively adding

[2014-02-07 23:38] LaszloHars opened #26 "Gaston does not work with Windows"
There are a few differences from a Linux box:
(1) Windows does not know "which". In Gaston.jl we can use instead of:
   if !success(`which gnuplot`)
the universal
   if !success(`gnuplot --version`)
(2) There is no standard environment variable USER. Use USERNAME instead (in Gaston.jl), or create a USER variable.
(3) There is no popen function in a standard C library for opening a pipe. In the ker

[2014-04-18 22:34] #10 closed, assigned to mbaz

[2014-05-10 10:02] Foolius opened #27 "Interaction with plots"
In the documentation it's stated that you can interact with mouse and keyboard, but I can't find out how to do this.

Where is this documented?

[2014-05-12 07:38] #27 closed, assigned to nobody

[2014-06-22 09:20] berceanu opened #28 "inline plot support for IJulia"
is there support for inlining plots in an IJulia notebook, as one can do with PyPlot/matplotlib?
i have something like this in mind (seems IRuby can do it)
http://nbviewer.ipython.org/github/minad/iruby/blob/master/IRuby-Example.ipynb
however im not sure if this should be a Gaston feature request or an IJulia one

[2014-06-24 10:09] berceanu opened #29 "`imagesc` does not support setting the range"
Using "xrange" or "yrange" in `imagesc` results in an `Invalid property specified` error, while it seems to work fine for `surf`.

[2014-06-30 16:57] berceanu opened #31 "latex support in labels"
is there any way one can render labels/titles using latex syntax, i.e. "k_x [\mu^{-1}]"?

[2014-07-01 09:21] berceanu opened #32 "not possible to set plotting range on `imagesc`"
setting the `"xrange"` or `"yrange"` properties in `imagesc` results in
`Invalid property specified in imagesc at Gaston/src/gaston_hilvl.jl:445`

[2014-08-08 11:41] jarvist opened #33 "CurveConf() not exported by default"
As the demo seems to use this quite a lot, I think this should be exported by default.

[2015-04-09 13:47] jtc25 opened #34 "How to set grid?"
I would like to be able set a grid on my plots.
How would I do this?

[2015-04-09 14:04] mbaz commented on #34
There is no support for it at the moment. I will add it to the TODO list.
If you use the wxt terminal, you can click a button to add a grid to the
plot. It's in the button bar below the menu.

On Thu, Apr 9, 2015 at 9:47 AM, jtc25 <notifications@github.com> wrote:

[2015-06-06 01:18] mbaz commented on #5
Support added in https://github.com/mbaz/Gaston.jl/commit/f29f309fad3da51aea89b4badf3c49120c98905e

[2015-06-06 01:18] #5 closed

[2015-06-06 09:18] milktrader commented on #5
NIce!

[2015-06-07 03:22] mbaz commented on #5
Thanks! Sorry about the delay...

On Sat, Jun 6, 2015 at 5:18 AM, milktrader <notifications@github.com> wrote:

[2015-06-11 14:36] #21 closed

[2015-06-11 16:01] mbaz commented on #33
Fixed in https://github.com/mbaz/Gaston.jl/commit/189db4885c9ef5b48df5b8d0ad106bc06f46d8c6

[2015-06-11 16:01] #33 closed

[2015-06-11 16:06] mbaz commented on #32
Works for me on latest master with this code:

    using Gaston
    c = CurveConf()
    c.plotstyle = "image"
    Z = [5 4 3 1 0; 2 2 0 0 1; 0 0 0 1 0; 0 1 2 4 3]
    addcoords([],[],Z,c)
    a = AxesConf()
    a.title = "Image"
    a.xrange="[2:4]"
    a.yrange="[1:3.5]"
    addconf(a)
    llplot()

[2015-06-11 16:06] #32 closed

[2015-06-11 16:08] mbaz commented on #29
Duplicate of https://github.com/mbaz/Gaston.jl/issues/32

[2015-06-11 16:08] #29 closed

[2015-06-11 16:11] mbaz commented on #16
I can't reproduce this with latest master. Please reopen if you still see this behavior.

[2015-06-11 16:11] #16 closed

[2015-06-19 16:34] #18 closed

[2015-06-19 16:35] mbaz commented on #18
Gaston only supports PNG files with IJulia, though. I think it is enough, but if there is need for more file formats, this issue can be revisited.

[2015-06-19 16:37] mbaz commented on #28
Fixed in https://github.com/mbaz/Gaston.jl/commit/4fe4581bb34562c4f8f297518dd190b5359d8c40

[2015-06-19 16:37] #28 closed

[2015-06-19 16:39] mbaz commented on #20
@TomVCG Have you figured out a solution? Can we close this issue?

[2015-06-19 16:50] mbaz commented on #31
Gaston is limited by what gnuplot can do. It does enable enhanced text mode in all terminals (see "Enhanced Text Mode" in gnuplot's documentation, page 24 in the 5.0 manual).

Fortunately, both Julia and gnuplot understand UTF 8, so you can get the label you want by using μ instead of \mu. For example, this works as expected:

    plot(sin(1:10),"xlabel","α_1^{-2}+Σ_i k+∞")

[2015-06-19 16:50] #31 closed

[2015-06-30 22:45] #20 closed

[2015-07-20 12:19] my-little-repository opened #38 "problem with Range1 using Gaston"
I just upgraded julia today from master [(ersion 0.4.0-dev+6093 (2015-07-20 07:55 UTC)) and Gaston using the package manager. I now get an error when I try to start Gaston.

      julia> using Gaston
      ERROR: LoadError: LoadError: UndefVarError: Range1 not defined
       in include at ./boot.jl:254
       in include_from_node1 at ./loading.jl:187
       in include at ./boot.jl:254
       in in

[2015-07-20 14:15] mbaz commented on #38
Thank you for your report. I haven't tagged a new release of Gaston because
I'm still working on a couple of features I'd like to include in the next
release, and the documentation for the features I've already implemented is
not yet complete.

However, you should be able to get Gaston's master by running
`Pkg.checkout("Gaston")` in Julia. Then, running `Pkg.status()` should show
Gaston with the "

[2015-07-20 15:12] my-little-repository commented on #38
Yes, it works, thanks.

[2015-07-20 15:12] #38 closed

[2015-07-20 20:23] my-little-repository opened #39 "REPL hanging after a second plot"
I just upgraded julia and gaston to latest version today, and I get a weird behavior at the repl (cli or emacs).
The first plot is fine but the repl hangs for ever after a second plot.

      julia> using Gaston
      julia> set_terminal("x11")
      "x11"
      julia> plot(sin(-10:0.01:10))
      0
      julia> plot(sin(-5:0.01:5))

The plot occurs (same window) but the REPL does not return. Inte

[2015-07-20 20:47] mbaz commented on #39
I can't reproduce this, but I have an idea what the reason could be. What
OS are you on? What happens if you comment out lines 356--370 in
gaston_midlvl.jl?

On Mon, Jul 20, 2015 at 4:23 PM, my-little-repository <
notifications@github.com> wrote:

[2015-07-20 21:32] my-little-repository commented on #39
After commenting lines 356--370 in gaston_midlvl.jl, the problem disappears. The repl returns as expected (cli, emacs, qt, x11). Also I don't have a warning or error when using a non-existing terminal (wxt), the repl returns and of course no graph is displayed.

I am using GNU/Linux 3.16.0-4-amd64 with a  Debian stable Jessie distribution, on a fairly recent HP PC laptop.

[2015-07-20 22:50] mbaz commented on #39
OK, thanks. Those lines are intended to (1) wait until gnuplot is done
plotting before returning (prevents a rare race condition when issuing two
consecutive plot commands to the same figure in quick succession), and (b)
to capture any output from gnuplot. I introduced this functionality
recently and I haven't tested it with Julia 0.4.

I'll explore this further, but in the meantime, I think it's

[2015-07-21 02:36] mbaz commented on #39
I can reproduce this problem on Julia 0.4. I suspect fixing this properly
will need to wait until https://github.com/JuliaLang/julia/issues/11824 is
fixed.

On Mon, Jul 20, 2015 at 6:50 PM, Miguel Bazdresch <eorlinga@gmail.com>
wrote:

[2015-09-10 17:28] mbaz opened #40 "Fix tests on julia 0.4-rc"

[2015-09-11 20:12] my-little-repository opened #41 "0.4.0-rc problem starting gnuplot"
I just upgraded to julia 0.4.0-rc and checked out Gaston. Gnuplot does not start.

      julia> Gaston.plot(sin(-pi:.01:pi))
      ERROR: There was a problem starting up gnuplot.
       in gnuplot_init at /home/yves/.julia/v0.4/Gaston/src/gaston_aux.jl:10
       in figure at /home/yves/.julia/v0.4/Gaston/src/gaston_hilvl.jl:94
       in plot at /home/yves/.julia/v0.4/Gaston/src/gaston_hilvl.jl:142

[2015-09-11 22:36] mbaz commented on #41
Thanks for the report. I'm in the process of updating Gaston to work with
Julia 0.4. This is the first thing I'll need to fix.

On Fri, Sep 11, 2015 at 4:12 PM, my-little-repository <
notifications@github.com> wrote:

[2015-10-30 13:05] mgr58 opened #42 "Errors (and warnings) when using Gaston with julia v 0.4"
julia> using Gaston
Warning: Gaston has only been tested on gnuplot version 4.6
WARNING: Base.String is deprecated, use AbstractString instead.
  likely near /home/xxx/.julia/v0.4/Gaston/src/gaston_types.jl:8
WARNING: Base.String is deprecated, use AbstractString instead.
  likely near /home/xxx/.julia/v0.4/Gaston/src/gaston_types.jl:8
WARNING: Base.String is deprecated, use AbstractString instead

[2015-10-30 18:00] mbaz commented on #42
Yes, Gaston is not 0.4-ready yet. I'm working on it but I don't have a lot
of time. Patches welcome :)

On Fri, Oct 30, 2015 at 9:05 AM, mgr58 <notifications@github.com> wrote:

[2016-01-19 00:10] mbaz commented on #42
Fixed by https://github.com/mbaz/Gaston.jl/commit/6b7b673952f4b8fa5bbbedf88fb10cb0b3db5860

[2016-01-19 00:10] #42 closed

[2016-01-19 00:10] mbaz commented on #41
Fixed by https://github.com/mbaz/Gaston.jl/commit/6b7b673952f4b8fa5bbbedf88fb10cb0b3db5860

[2016-01-19 00:10] #41 closed

[2016-01-19 00:10] mbaz commented on #40
Fixes by https://github.com/mbaz/Gaston.jl/commit/6b7b673952f4b8fa5bbbedf88fb10cb0b3db5860

[2016-01-19 00:10] #40 closed

[2016-01-19 00:11] mbaz commented on #39
Fixed by https://github.com/mbaz/Gaston.jl/commit/6b7b673952f4b8fa5bbbedf88fb10cb0b3db5860

[2016-01-19 00:11] #39 closed

[2016-03-09 16:04] rennis250 commented on #4
I know that this is very old, but just so you know, it appears that everything works fine on a Homebrew installed gnuplot with the pangocairo terminal.

Best,
Rob

[2016-03-09 16:20] mbaz commented on #4
@rennis250 Thanks a lot for the information. Just to clarify, do you mean that the 'aqua' terminal works fine with current gnuplot?

[2016-04-15 01:27] mbaz opened #44 "Add support for plotting complex vectors"
`plot(c::Vector{Complex})` should be equivalent to `plot(real(c),imag(c)`.

[2016-05-23 04:34] laborhm opened #45 "Gaston package up-and-running in Windows 8/10 with gnuplot utility v5.0 (!!)"
Here's a Gaston package version up-and-running with Julia 0.4.5 under Windows 8/10 with gnuplot utility v5.0. And it does run in Linux/Ubuntu 16.4, too.
[gaston_20_05_16_al.zip](https://github.com/mbaz/Gaston.jl/files/276845/gaston_20_05_16_al.zip)
A short instruction in the Gaston.jl file.
Just do not know, how to "pull request" it.
Cheers,
Andre Logunov

[2016-05-23 14:21] mbaz commented on #45
Thanks for the report. I'll take a look at your changes and see about incorporating them into the mainline.

[2016-06-30 14:28] mbaz opened #46 "Review that we validate everything we can validate."

[2016-06-30 14:29] mbaz opened #47 "Review exported functions."
We may not need to export everything.

[2016-06-30 14:30] mbaz opened #48 "Re-work the demos"
Maybe make individual demos; make them more illustrative and tutorial-like.

[2016-06-30 14:31] #34 closed

[2016-06-30 14:35] mbaz opened #49 "Missing documentation tracker"
- [x] Fillsteps
- [x] Grid
- [x] Stderr interaction
- [x] Start docs with tutorials for common usage
- [x] Provide motivation for using gnuplot
- [x] Add note about letting gnuplot's installer add it to the system path on windows.
- [x] Clarify how to run the tests
- [ ] Add reference documentation

[2016-06-30 14:42] #12 closed

[2016-07-01 02:12] mbaz commented on #45
@laborhm I tested current master with 0.4.6 on Windows 7 and everything seems to work. Please check it out and report any problems. You can check out master by running `Pkg.checkout("Gaston")` from inside Julia.

[2016-07-01 02:12] #45 closed

[2016-07-01 02:12] #19 closed

[2016-07-01 02:12] #26 closed

[2016-07-01 02:15] mbaz opened #50 "Re-write and update readme.md"

[2016-07-01 02:41] laborhm commented on #45
issuing
  julia> Pkg.checkout("Gaston")
returns this:
ERROR: Gaston is not a git repo
 in checkout at pkg/entry.jl:203

2016-07-01 12:12 GMT+10:00 mbaz <notifications@github.com>:

[2016-07-01 02:49] mbaz commented on #45
You may need to do `Pkg.add("Gaston")` first.

On Thu, Jun 30, 2016 at 10:41 PM, laborhm <notifications@github.com> wrote:

[2016-07-01 03:25] laborhm commented on #45
I did that.

julia> Pkg.add("Gaston")
ERROR: unknown package Gaston
 [inlined code] from pkg/entry.jl:49
 in anonymous at task.jl:447
 [inlined code] from task.jl:422
 in add at pkg/entry.jl:64
 in add at pkg/entry.jl:73
 in anonymous at pkg/dir.jl:31
 in cd at file.jl:32
 in cd at pkg/dir.jl:31
 in add at pkg.jl:23

2016-07-01 12:49 GMT+10:00 mbaz <notifications@github.com>:

[2016-07-01 03:29] laborhm commented on #45
By the way, my version works all right^

cd(joinpath(homedir(),"julia_projects","gaston","src"))
include("Gaston.jl")    #

using Gaston
g = Gaston;

c = g.CurveConf();
c.legend = "Произвольно";
c.plotstyle = "errorbars";
y = exp(-(1:.1:4.9));
ylow = y - 0.05*rand(40);
yhigh = y + 0.05*rand(40);
g.addcoords(1:40,y,c);
g.adderror(0.1*rand(40));
a = g.AxesConf();
a.title = "Значения ошибки (вертикал

[2016-07-01 13:33] mbaz commented on #45
I don't know why `Pkg` can't find Gaston. Can you install other packages?

The way you install it is fine, but using Julia's package infrastructure
makes it easier for users to install, remove, and update packages.

On Thu, Jun 30, 2016 at 11:29 PM, laborhm <notifications@github.com> wrote:

[2016-07-01 14:35] laborhm commented on #45
Yes, I can use the infrastructure. Using it I've installed about 180
packages, including Gaston. But Gaston from the very start didn't function
(under win10) until I copied it and made some updates manually as described.
To tell you more, I upgraded Julia from 0.4.5 to 0.4.6 and then Pkg.updated
the packages, and all of them work, except Gaston. An attempt to use it
produced "Package is dirty" mas

[2016-07-01 15:19] mbaz commented on #45
What do you get if you run `Pkg.status()` and look for the line about
Gaston? I get:

julia> Pkg.status()
1 required packages:
 - Gaston                        0.0.0+             master

Also, can you try `Pkg.remove("Gaston")` and then try to add it again?

On Fri, Jul 1, 2016 at 10:35 AM, laborhm <notifications@github.com> wrote:

[2016-07-01 15:40] laborhm commented on #45
Pkg.status stops at Gaston:

julia> Pkg.status()
70 required packages:
 - ASCIIPlots                    0.0.3
 - AWS                           0.2.0
 - ArgParse                      0.3.0
 - Atom                          0.4.2
 - Blink                         0.3.4
 - Bokeh                         0.2.0
 - Calendar                      0.4.3
 - Clp                           0.2.1
 - Cosmology

[2016-07-01 15:44] mbaz commented on #45
OK, if Pkg.status() errors out, I'm sure that means there is something
wrong with your package repository... Since you have a workaround, it may
not be worth it to try to fix it (not that I would know how to, short of
nuking your entire package folder and starting over).

For what it's worth, Gaston is working properly with Pkg on windows 7 here.

On Fri, Jul 1, 2016 at 11:40 AM, laborhm <notifica

[2016-07-01 15:48] laborhm commented on #45
You're right. Looks like it. I'll try to do sth about it and shall let you
know.

2016-07-02 1:44 GMT+10:00 mbaz <notifications@github.com>:

[2016-07-02 02:42] laborhm commented on #45
Here's the continuation (right after Pkg.rm() that I showed yesterday)

julia> Pkg.add("Gaston")
INFO: Installing Gaston v0.0.0
INFO: Package database updated
INFO: METADATA is out-of-date — you may not have the latest version of
Gaston
INFO: Use `Pkg.update()` to get the latest versions of your packages

julia> using Gaston
Warning: Gaston has only been tested on gnuplot version 4.6
ERROR: LoadEr

[2016-07-02 04:18] mbaz commented on #45
You need to use Gaston's master branch, by running
`Pkg.checkout("Gaston")`. I'll tag a new release soon, but in the meantime
only master is usable.

On Fri, Jul 1, 2016 at 10:42 PM, laborhm <notifications@github.com> wrote:

[2016-07-02 08:08] laborhm commented on #45
Now everything's ok.

julia> Pkg.checkout("Gaston")
INFO: Checking out Gaston master...
INFO: Pulling Gaston latest master...
INFO: No packages to install, update or remove

julia> using Gaston
...

2016-07-02 14:18 GMT+10:00 mbaz <notifications@github.com>:

[2016-07-02 22:57] mbaz commented on #45
Good to know.

On Sat, Jul 2, 2016 at 4:08 AM, laborhm <notifications@github.com> wrote:

[2016-07-03 02:04] laborhm commented on #45
My Russian translation of "Mastering Julia" by Sherrington (Packt) (amended
and updated to v0.4.6) is being published in Russia in july/august (
http://dmkpress.com/catalog/computer/programming/978-5-97060-370-3/).
B.R.

2016-07-03 8:57 GMT+10:00 mbaz <notifications@github.com>:

[2016-08-27 08:55] nico202 opened #51 "Gaston fails to load"
Hi, I wanted to try Gaston but couldn't.
My system:
* Linux asus_nixos 4.6.5 #1-NixOS SMP Wed Jul 27 15:42:34 UTC 2016 x86_64 GNU/Linux
* julia version 0.4.5
* gnuplot: Version 5.0 patchlevel 3    last modified 2016-02-21
* Gaston installed with Pkg.add("Gaston")

Running `using Gaston` leads to many deprecation warning
[code]

and
[code]

[2016-08-27 09:00] nico202 commented on #51
Ok found #38, using Pkg.checkout("Gaston") works. Maybe you can update the readme :)
Thanks!

[2016-08-27 09:01] #51 closed

[2016-08-28 21:50] mbaz commented on #51
Thanks! Yeah, at this point only the master branch works. I hope to tag a
new release soon.

On Sat, Aug 27, 2016 at 5:01 AM, Nicolò Balzarotti <notifications@github.com

[2016-09-30 16:36] my-little-repository opened #52 "problem using Gaston under 0.5"
I just downloaded the v0.5 julia binary. Gaston seems to load fine using `Pkg.add("Gaston"). It returns an error though if I use it.

[code]

From the changelog, I can see that this is Gaston v0.5.5 that has been installed.
I think that Range1 was renamed UnitRange when v0.4 went stable. This looks ok on master.
So maybe the Gaston version packaged with julia should be upgraded?

[2016-09-30 16:43] mbaz commented on #52
I haven't tested Gaston under v0.5 yet. However, in any case you want to use the master branch, which has seen tons of updates over the previous release. You can use `Pkg.checkout()` to get the latest Gaston.

[2016-09-30 17:26] my-little-repository commented on #52
The master version works under v0.5. Thanks.

[2016-11-16 14:27] fp4code commented on #52
To run all tests, don't run gaston_tests() as written in doc/gastondoc.tex. Instead, run Pkg.test("Gaston").

[2017-03-31 22:49] #52 closed

[2017-03-31 22:50] mbaz opened #53 "Improve commands syntax"
I need to modernize the syntax of `plot` and similar commands -- right now they're really clunky.

Also, think about prefixing commands with `g` so that other plotting packages may be loaded at the same time.

[2017-03-31 22:52] mbaz opened #54 "Verify compatibility with Julia 0.6"
Just a reminder.

[2017-03-31 22:53] mbaz opened #55 "Require julia 0.5"
And use modern piping commands from https://github.com/JuliaLang/julia/issues/11824

[2017-04-02 17:31] mbaz commented on #55
Fixed by 24cb4213c02f81d57c192ffc310a38e6265535d8

[2017-04-02 17:31] #55 closed

[2017-05-04 18:33] francilioaraujo opened #56 "gnuplot_send() method crashing"
When I try to use the following code in IJulia

    using Gaston
    gnuplot_send("set view 67,25")
    surf(-3:.1:3,-3:0.1:3,(x,y)->cos(x)*sin(y),"plotstyle","points","xlabel","coord 1","ylabel","coord 2","zlabel","coord 3","title","surf demo","color","blue")

I get the following error

    MethodError: no method matching write(::Int64, ::String)
    Closest candidates are:
      write(::Abstract

[2017-05-04 19:03] francilioaraujo commented on #56
I figured out how to circunvent this problem. Before using `gnuplot_send()` I call `figure()` and it runs OK.

[2017-05-05 14:15] mbaz commented on #56
Thanks for the report. You can also plot first, and set the view afterwards:

    using Gaston
    surf(-3:.1:3,-3:0.1:3,(x,y)->cos(x)*sin(y),"plotstyle","points","xlabel","coord 1","ylabel","coord 2","zlabel","coord 3","title","surf demo","color","blue")
    gnuplot_send("set view 67,25")
    figure(1)

The final `figure(1)` is needed to force gnuplot to re-plot with the new view parameters.

I'l

[2017-05-05 15:47] francilioaraujo opened #57 "errorbars not working"
I use the following code

[code]

but I get the following error

[code]

I looked in the source code and solved with this

[code]

on line 264 of file `gaston_midlvl.jl`

[2017-05-05 16:58] francilioaraujo commented on #53
How about using keyword arguments to pass the properties? I think it enhances the readability of function call and cleans the look of it. It might be even helpfull to validate the property values.

[2017-05-05 18:20] mbaz commented on #53
Yep -- that's part of my plan. I just haven't had time to decide on a syntax and implement it. Help is welcome.

[2017-05-05 18:27] mbaz commented on #57
Thanks for the report; I'll take a look. This reminds me that I need to add test cases to the errorbar plots.

[2017-05-05 19:29] francilioaraujo commented on #53
I'm willing to help. Could you send me an email at francilioaraujo@gmail.com so we can discuss some ideas?

[2017-05-12 15:45] #56 closed

[2017-05-12 15:46] francilioaraujo commented on #53
How about the following syntax?

`plot({h,}({ x,} y {, ylow{, yhigh}}){, property, value...} {...})`

and

`plot({h,} x, y {, property, value...} {...})`

If one wants to plot `x` against `y` then the command `plot(x, y)` do it.  If one has `plot(a, b, c, d)` it would mean "plot `a` against `b` and `c` against `d`.
If one wants to use "special forms of coordinates", such as `(y)`, `(x, y, ydelta)`

[2017-07-11 14:38] my-little-repository opened #59 "No histogram with Gaston on 0.6"
The histogram functionality doesn't work any more under julia v0.6.0
I guess that this comes from the fact that the function `hist` has been removed from base.
There is instead a function `fit(Histogram, ...)` in the package StatsBase.

    julia> Gaston.histogram(randn(100000), "bins", 100, "norm", 1, "color", "gray")
    ERROR: UndefVarError: hist not defined
    Stacktrace:
    [1] histogram(::

[2017-07-11 14:47] my-little-repository commented on #54
Here is what I obtain under a fresh install of Gaston under julia v0.6.0
There is a deprecated syntax and two errors related to Gaston histogram function, that come from the fact that the function `hist` has been removed from Base.

    julia> Pkg.test("Gaston")
    INFO: Testing Gaston

    WARNING: deprecated syntax "typealias UnitRange{T} Range1{T}" at ~/.julia/v0.6/Gaston/src/gaston_types.jl:9

[2017-07-12 13:52] mbaz commented on #54
Thanks for the report... I haven't had a chance to update Gaston to 0.6, but it's on my list of things to get done this summer.

[2017-07-12 13:53] mbaz commented on #59
Thanks for the report. I may bring back my own histogram function, which was used in the early days of gaston, before julia had its own.

[2017-09-03 02:23] ErnestoZayas opened #60 "gnuplot 5.0.7 with julia 0.60 supported?"
![asdasdasd](https://user-images.githubusercontent.com/31333095/30000075-29ce89e6-9014-11e7-8174-f0c8c9b445ca.JPG)

[2017-09-04 00:14] mbaz commented on #60
Please explain your issue, how to reproduce it, etc. I can't tell that from a screenshot.

[2017-09-04 01:46] ErnestoZayas commented on #60
i'm trying to download and test the package, but it doesn't works, i tried to comment those lines and try to test again ,now the test started but it showed "There was a problem starting up gnuplot" in each test.
the error are in this part of the code so why can't find gnuplot?

# before doing anything else, verify gnuplot is present on this system
if !success(`gnuplot --version`)
    error("Gaston

[2017-09-04 01:59] mbaz commented on #60
The problem may be that gnuplot is not on the path, or more likely, that for some reason it is called `wgnuplot.exe` instead of `gnuplot.exe`, which is what I would expect.

Can you try modifying the executable name to `wgnuplot` and see if it makes any difference?

[2017-09-04 02:30] ErnestoZayas commented on #60
i tried and doesn,t work, but you gave me an idea.
Idk why but i paste all the docs inside bin folder of gnuplot on the test folder and it works
but using Gaston still without working

[2017-09-04 02:35] mbaz commented on #60
Then, the problem is that gnuplot is not in the path. You can try adding it to the path (I don't know how to do that on Windows, but I'm sure instructions are available somewhere). Or, you can try specifying the entire path in Gaston. Let me know how it goes.

[2017-09-04 03:08] ErnestoZayas commented on #60
i add C:\Program Files (x86)\gnuplot\bin to path environment variable, it wasn't there before, and it works like in #54

Thank you.

[2017-09-04 04:56] #60 closed

[2017-09-04 13:23] mbaz commented on #60
I'm glad you were able to get it to work. I'll add a note to the documentation about adding gnuplot to the path on windows.

[2017-12-17 02:42] #59 closed

[2017-12-20 19:19] mbaz commented on #54
Fixed in current master.

[2017-12-20 19:19] #54 closed

[2017-12-28 22:47] #44 closed

[2017-12-28 23:56] mbaz commented on #57
Fixed in v0.7.0.

[2017-12-28 23:56] #57 closed

[2017-12-28 23:57] mbaz commented on #53
Fixed in v0.7.0.

[2017-12-28 23:57] #53 closed

[2017-12-28 23:57] mbaz commented on #50
Fixed in v0.7.0.

[2017-12-28 23:57] #50 closed

[2017-12-28 23:57] mbaz commented on #48
Fixed in v0.7.0. Actually replaced the `gaston_demos` file completely and did a Jupyter tutorial instead.

[2017-12-28 23:57] #48 closed

[2017-12-28 23:58] mbaz commented on #47
Fixed in v0.7.0.

[2017-12-28 23:58] #47 closed

[2017-12-28 23:59] mbaz commented on #46
Did a thorough review and refactor in v0.7.0.

[2017-12-28 23:59] #46 closed

[2017-12-30 20:33] hustf opened #61 "Configuring for cygwin / mintty"
Glad to see the progress here!
I'm on windows, using cygwin. The terminal is called mintty. Gnuplot is installed, and I believe gnuplot is configured correctly (see screenshot). It looks like we can have inline plotting in the REPL with some help.

The test feedback, or trying to make a plot in the REPL result in:
[code]

![image](https://user-images.githubusercontent.com/13949620/34457139-60868d0

[2017-12-30 20:39] hustf opened #62 "Tests failing on Windows, file access"
Running Julia through Cygwin, after installing GNUPlot:
[code]
So far so good. Pkg.test() results in a file path failure that can probably be easily fixed. Just reporting for now:

[code]

[2017-12-31 10:59] CarloLucibello opened #64 "Add a `reset` command to return configuration to default state"
As a complement to `set` maybe it could be usefull to also have an `unset` method

[2018-01-14 05:06] PetrKryslUCSD opened #70 "plot() does not accept keyword arguments?"
[code]

[2018-01-14 15:08] mbaz commented on #70
You are probably running an old version of Gaston, which is not compatible with Julia 0.6. You can update Gaston with `Pkg.update()`.

[2018-01-14 17:51] PetrKryslUCSD commented on #70
That is right, update worked. Thanks.

[2018-01-14 19:05] #70 closed

[2018-01-15 17:14] mbaz opened #71 "Ensure compatibility with Julia v0.7"

[2018-01-17 16:24] mbaz commented on #64
The only use case I see for `unset` is when you temporarily change a setting, and want to revert to the original value shortly afterwards. I do this, for example, [here](https://github.com/mbaz/Gaston.jl/blob/f0ccb1213b6cbec35421084d6f6867a42b8d743c/src/gaston_hilvl.jl#L349) where I temporarily change the terminal type while saving a file.

Providing `unset`, though, will involve large changes in

[2018-01-17 16:48] mbaz commented on #62
I just commited a change to fix the path issue in Windows. I'm worried about the "unknown terminal" issue, though. Can you provide more details, so that I can try to reproduce it?

[2018-01-17 16:55] mbaz commented on #61
This is very cool. I will add support for this terminal to Gaston.

[2018-01-17 22:31] hustf commented on #62
I believe the 'unknown terminal' is probably related to the new terminal type GNUTERM = sixel? I think this is pretty new, so the version might have an influence. Ref. issue #61.

More details, without checking out master below.
I don't know if it's smart in this case, but this packages' tests COULD check for the existence of generated files.

Julia version 0.6.1, 64 bit, Cygwin:
[code]

[2018-01-17 22:44] hustf commented on #62
After checking out master:

[code]

[2018-01-17 22:52] hustf commented on #62
This issue, as such, is closed I reckon.

If you want, I can submit a PR with setup for CI testing on Cygwin. But to get it actually working on this repo and not just on my potential fork of it, somebody must register a token with Appveyor. And as far as I understand, it is only the package owner that can get this secret token from github. The token would authorize Appveyor to listen in and react

[2018-01-17 23:34] mbaz commented on #62
First of all, I'd like to understand why gnuplot thinks the terminal is unknown, when Gaston explicitly sets the terminal (to "wxt" by default) before every plot.

Can you open gnuplot in a terminal by itself, and run `set term`? Do you see "wxt" among the options listed? I suspect that your version of gnuplot has no support for wxt.

[2018-01-18 00:12] CarloLucibello commented on #64
Right, I opened the issue not as a consequence of a specific usecase but just for symmetry with the set method. On the other hand I'm sure `reset` would be very useful instead.

[2018-01-18 02:27] mbaz commented on #64
OK! I'll add this to my TODO list.

[2018-01-18 18:32] hustf commented on #62
That seems right. No wxt in the list.
... and I see that the current terminal is x11 again. In order to have sixel permanently, I suppose I must add some pretend system environment variable to my cygwin-set up?

[code]

[2018-01-18 23:05] mbaz commented on #62
I will add support for sixel soon (pull requests encouraged), so all you'd need to do is run `set(terminal="sixel")` after you load Gaston.

However, this opens up another problem for me, though: if there are non-wxt compatible gnuplot installations out there, I need to figure out how to support them. I could set the default terminal to `x11`, but it really is an ugly terminal compared to the alte

[2018-01-19 16:12] CarloLucibello opened #72 "add subplots support"
Is it possible to hande subplots in Gaston, as by `set multiplot ...` command in gnuplot?
If yes, an example should be add to the documentation

[2018-01-20 17:33] mbaz commented on #72
I have no plans to support it, since it involves a lot of work and goes against Gaston's KIS philosophy. What would be a good use case for this?

[2018-01-21 10:30] CarloLucibello commented on #72
not really: tipically I like more having a single window with subplots than many windows with different plots, but it doesn't change much

[2018-01-22 02:41] mbaz commented on #72
I will leave this open while I give it a second thought.

[2018-01-31 11:16] CarloLucibello opened #74 "savefigure problem with eps and pdf"
saving in eps and pdf formats as in
[code]
results in a pdf/eps with no axes and legend.

For comparison look a this
[test.pdf](https://github.com/mbaz/Gaston.jl/files/1681456/test.pdf)

compared to this
![test](https://user-images.githubusercontent.com/7014210/35620072-3fa4ec1e-0680-11e8-8958-6266cb352968.png)

[2018-01-31 17:51] mbaz commented on #74
I can reproduce this.

[2018-02-02 16:29] #74 closed

[2018-02-02 18:19] #62 closed

[2018-02-02 18:22] mbaz commented on #61
@hustf Could you please run a couple of tests on current Gaston master?

First try out the new "dumb" terminal, which produces an ascii plot:

    julia> using Gaston
    julia> set(terminal="dumb")
    julia> plot(1:10)

If this produces a plot, then please try out the "sixelgd" terminal:

    julia> set(terminal="sixelgd")
    julia> plot(1:10)

[2018-02-06 18:46] hustf commented on #61
Sorry for the delay. Thanks for the 'dumb' terminal, already an improvement on Unicodeplots it seems. Here goes:
![image](https://user-images.githubusercontent.com/13949620/35877400-7ccba098-0b75-11e8-86ea-d95621caf716.png)

Follow-up:
![image](https://user-images.githubusercontent.com/13949620/35877550-e6270dd4-0b75-11e8-8bfd-6c3078838b7e.png)

[2018-02-06 18:49] hustf commented on #61
...and after quitting and restarting Julia:
[code]

[2018-02-06 20:45] mbaz commented on #61
Thanks! Ignoring for the moment the test failures (which I can't reproduce), the fact that the output is printed to the screen instead of being interpreted by the terminal as SIXEL commands seems to indicate that there is some special mechanism to pass that data to the terminal.

I have no idea what the mechanism is, and I can't research it at the moment for lack of time and lack of a cygwin insta

[2018-02-06 23:34] hustf commented on #61
Unfortunately, I'm rather clueless at the moment and also a bit tied up the next month or so. Note to self, or somebody else keen on the bait, have a long look at both Gaston.jl internals, and also, for ideas or adaption:

https://github.com/Evizero/UnicodePlots.jl#low-level-interface

That interface ('canvas') works on both cygwin, windows repl terminal (at least with font DejaVu Sans mono), and

[2018-02-06 23:45] bbrunaud opened #75 "Define less ugly defaults"
Hello

First of all, kudos for the great idea and work!. I took Gaston for a spin and the first thing I got was:
[code]

Julia 0.6 running on Ubuntu 17.10

The second thing I noticed is that my configuration in ~/.gnuplot was not loaded.

thanks!

[2018-02-07 02:06] mbaz commented on #75
Can you post the contents of your `~/.gnuplot` ?

At first sight, the GTK message looks like a Gnuplot problem. Does your gnuplot work fine by itself? What do you get if you run:

    set term wxt
    plot(sin(x))

in a gnuplot session?

[2018-02-07 02:09] mbaz commented on #61
Let's return to this when we have the time.

[2018-02-07 19:07] bbrunaud commented on #75
You are right, I was wondering why every line turned out blue. And also why the grid had disappeared.  May I suggest a nicer set of defaults?.

[code]
And perhaps a larger font for tics and legend. That would immediately improve first impression on the package.

Also, from gnuplot session I don't have that error. The error shows up as a warning. I can still see the plot.

best regards

[2018-02-07 19:55] mbaz commented on #75
Regarding GTK's error: I think it's due to a problem with your installation. Nobody else has reported seeing it, and those warnings are usually caused by a mismatch between the libraries present in your system and the ones that a package was actually compiled with.

[2018-02-07 19:59] mbaz commented on #75
Regarding the defaults: one problem is that everybody has different tastes. If I change them to your liking, somebody else might complain.

The ideal solution is to parse `.gnuplot` and use the settings there. It's not a trivial change, though.

[2018-02-08 00:21] sdmcallister opened #78 "install gnuplot binary"
This is in relation to the following discussion:

https://discourse.julialang.org/t/suggested-minimal-requirements-for-short-term-plotting-solution/8877/33

Is it possible that `Pkg.add("Gaston")` would install the most recent/relevant Binary?

[2018-02-08 01:57] mbaz commented on #78
I'm open to doing this, but: (1) I'm not convinced it's worth the effort, since gnuplot is trivial to install in essentially all OSs, and (2) I'd need somebody to do it, since I don't even know where to start doing this, and I don't have the time right now to learn how to.

[2018-02-08 02:11] bbrunaud commented on #75
I agree that what looks good is very subjective. However, the gnuplot defaults are objectively ugly =)
Check http://www.gnuplotting.org/attractive-plots/

[2018-02-08 02:14] mbaz commented on #75
Heh :)

So I'll review the defaults, and also see about implementing a configuration file.

[2018-02-08 14:13] mbaz commented on #78
One more thought: gnuplot is GPL and Gaston is MIT-licensed. I'm assuming it's OK to bundle a GPL binary in an MIT package, but it'd be nice to have confirmation from somebody who understands the implications.

[2018-02-27 16:07] PetrKryslUCSD opened #79 "Does Gaston work with 0.7?"
Tests:
[code]
When I test gnuplot I get:
[code]

[2018-02-27 22:09] mbaz commented on #79
It doesn't (yet). See #71 . I've been working on bug fixing and new features while I wait for 0.7 to stabilize a bit more.

[2018-02-27 22:09] #79 closed

[2018-02-27 22:26] PetrKryslUCSD commented on #79
Could you share the current version? I would like to try to make it work
with 0.7.

Thanks.

On Tue, Feb 27, 2018, 14:09 mbaz <notifications@github.com> wrote:

[2018-02-27 22:30] mbaz commented on #79
The current 'master' branch here in GitHub is up to date. I'd welcome any contributions towards making it compatible.

[2018-02-27 22:35] PetrKryslUCSD commented on #79
Great. Btw there was a post on discourse recently that seemed to imply 0.7
was almost ready to be released.

On Tue, Feb 27, 2018, 14:30 mbaz <notifications@github.com> wrote:

[2018-02-28 00:25] PetrKryslUCSD commented on #79
Gaston has been forked eighteen times. Has anything been done on porting to
0.7 in any of the forks, would you know?

Petr Krysl
Professor
University of California, San Diego
9500 Gilman Dr., #0085, La Jolla, CA 92093
Skype: Petr.Krysl.UCSD.EDU
<https://mailtrack.io/trace/link/05952c9f4e7f28ebee0407d2809f0525c2c4ef92?url=http%3A%2F%2FPetr.Krysl.UCSD.EDU&userId=1197778&signature=4c9c8e579d7a803f>,

[2018-02-28 02:32] mbaz commented on #79
I don't know -- I guess most of them are short-lived forks used to contribute some particular feature.

[2018-03-05 19:42] mbaz commented on #71
Fixed by a43141804ff57b22fbd870d354eccca9bf424059

[2018-03-05 19:42] #71 closed

[2018-03-06 17:29] favba opened #81 "What about a `gnuplot>` REPL mode?"
First of all, thank you for this very useful package!
So, I had this idea, but I really don't know how hard it would be to implement or if it is desirable.
But what about a `gnuplot>` REPL mode (mainly to pass setting commands to gnuplot)? Similar to `shell` mode or Pkg3.jl's `pkg` REPL mode.
I believe this  would be really helpful for those already familiar with gnuplot.
Ideally one would be able

[2018-03-07 15:22] mbaz commented on #81
That's an intriguing idea for sure!

I would like to implement this, but I don't know how to implement the custom REPL mode (sending the commands to gnuplot is easy). If a PR implementing this is made, I'll accept it. Otherwise, I'll put on my todo list and get it done -- someday :)

[2018-03-13 16:47] PetrKryslUCSD opened #82 "Contents of figure when saving"
I had two figures created in succession. I started saving the figures into PDF files. When I saved the figure that was opened first, after the save it immediately switched to displaying the contents of the figure that was created second. So at that point both figures showed the same contents.

I presume this is a gnuplot thing, as I don't think Gaston is not in control at that point anymore?

[2018-03-13 17:10] mbaz commented on #82
Could you provide the commands you're using? I'd like to reproduce this behavior. Are you doing something like this:

[code]

Plotting using the same figure handle in quick succession is challenging because Gaston writes the coordinates to a file, tells gnuplot to plot, and then proceeds to write the coordinates for the next plot. It is easy for Gaston to overwrite the file before gnuplot is done

[2018-03-15 00:59] PetrKryslUCSD commented on #82
Here is an example: I have two figures open, and I save the two figures in turn into PDF files.
https://www.dropbox.com/s/j5w65zjxookxuow/FFsplit-180314-175547.flv?dl=0

[2018-03-15 01:57] mbaz commented on #82
So, you're saving the figures from each figure window, right? You're not using `printfigure`?

If so, then I have never tried doing it. I'll try to reproduce this.

[2018-03-19 20:32] PetrKryslUCSD opened #84 "printfigure hangs gnuplot"
I call printfigure after drawing some curves. The file is produced, but the actual figure window becomes unresponsive.
[code]

The window can be made to respond again by `figure(ferrors)`.

I'm not sure if this is a bug or a feature.

[2018-03-20 16:59] mbaz commented on #84
I think it's a bug (or at least an undesired behavior). I can reproduce it and I'll try to fix it.

[2018-03-20 17:08] #84 closed

[2018-05-03 00:55] PetrKryslUCSD opened #86 "Control of the placement of the key (legend)"
I've tried using
[code]
to control the placement of the key, but no matter when I admit this command it gets ignored. Am I using it right?

Thanks.

Petr

[2018-05-03 13:49] mbaz commented on #86
It's possible that Gaston is overwriting your `set` command when it creates the plot. Have you tried using the `gpcom` argument to the plot commands? Something like

    plot(1:10, gpcom = "set key at 0,0 top left")

should work.

[2018-05-03 16:59] PetrKryslUCSD commented on #86
I have taught `plot! ` to accept `gpcom` and to emit `llplot(gpcom)`. I do

[code]
but it has no effect whatsoever on the key location. Does it work for you?

[2018-05-03 17:38] PetrKryslUCSD commented on #86
This is my complete code:

[code]
Unfortunately, even after the code update there is no change in the placement of the key.

[2018-05-03 22:54] mbaz commented on #86
OK, I needed to refresh my memory since I've been busy with other things for the past few weeks. The problem is that `gpcom` is not actually stored in the figure object, so your `plot!` command does not know about it.

This has been fixed, but in another branch I haven't pushed out. The branch has a lot of changes, mainly in order to make Gaston compatible with Jupyter's Interact package. There ar

[2018-05-04 01:06] PetrKryslUCSD commented on #86
Sounds good! Thank you very much for your help.

Petr Krysl
Professor
University of California, San Diego
9500 Gilman Dr., #0085, La Jolla, CA 92093
Skype: Petr.Krysl.UCSD.EDU
<https://mailtrack.io/trace/link/f495ad8887b180d5c0425e9e65e1ee5d672e19a3?url=http%3A%2F%2FPetr.Krysl.UCSD.EDU&userId=1197778&signature=fc0efe5da0fbe7a0>,
Office: 858-822-4787
http://hogwarts.ucsd.edu/~pkrysl/
<https://mailt

[2018-05-07 16:18] mbaz commented on #86
Thanks for the info -- I'll take a look at this soon.

[2018-05-08 01:47] mbaz commented on #86
@PetrKryslUCSD Have you used the `box` plot option? It seems like it should do what you need:

    plot(1:10,legend="test",box="top left")

[2018-05-08 02:05] PetrKryslUCSD commented on #86
You are right, that works. But should it have? According to the manual, the "box" option should place a box around the key. It is not used to position the key.

[2018-05-08 02:19] mbaz commented on #86
What actually happens is that the entire `box` string is given to gnuplot prefixed with `set key`.

I need to document this option better....

[2018-05-08 02:27] PetrKryslUCSD commented on #86
Perhaps call it "keyoptions"?

[2018-05-10 02:14] mbaz opened #87 "Allow configuration of sleep interval"
Very complex plots may require a longer wait interval than we currently allow for. While the defaults work in most cases, we should allow the user to set a larger interval.

See also https://github.com/mbaz/Gaston.jl/pull/73

[2018-05-10 02:21] mbaz opened #88 "Support 3D scatter plots"
See if we can do better than plots.jl in this case: https://discourse.julialang.org/t/axes-attributes-labels-limits-not-working-in-3d-plots/10341

[2018-05-23 13:45] kim-tom commented on #86
I fixed this way.
Ex.
plot(rand(10),rand(10), gpcom = "set key at 0,0 top left",legend="aiu")
↓
plot(rand(10),rand(10), box = "bottom right",legend="aiu")

[2018-05-23 13:52] kim-tom commented on #88
Thank you for amazing packages.
I wish I could use quiver and y2label.

[2018-05-23 14:37] PetrKryslUCSD opened #89 "A bit of mischaracterization?"
"...but old-fashioned plotting package ...": is it really that old fashioned? May I suggest to take it out of the README?

[2018-05-23 15:31] mbaz commented on #89
I meant that gnuplot is not a flashy, fashionable application like D3.js or similar. But you're right in that it is not useful (or really accurate) information, so I'll take it out.

[2018-05-23 15:33] mbaz commented on #88
@kim-tom Thanks for the kind words. Please, open new issues for quiver and y2label support, and I'll take a look at what it takes to implement them.

[2018-05-30 18:28] HenriLaurie opened #90 "Gaston possible on JuliaBox?"
I tried to get Gaston going on JuliaBox. Perhaps I was just impatient, but it wouldn't build. I wondered if this is because of the non-Julia dependency (gnuplot), or something else?

[2018-05-30 18:37] mbaz commented on #90
I haven't tried, but Gaston does work on Jupyter, which I believe is what JuliaBox uses.

While I get around to testing it, could you please tell me what is the exact problem, i.e., what do you mean by "it wouldn't build"?

[2018-05-30 18:44] mbaz commented on #90
OK, I just tried and I see what you mean by building. It builds a new system image incorporating the packages you want.

So my build finished successfully, but when trying `using Gaston` I got:

    LoadError: Gaston cannot be loaded: gnuplot is not available on this system.

There's nothing I can do about it. It may be worth it to ask the JuliaBox maintainers to add gnuplot to their system.

[2018-05-30 18:44] #90 closed

[2018-05-30 22:03] HenriLaurie commented on #90
Thanks for response and sorry for the delay, I was offline and have to go
off again, just to say quickly that the JuliaBox way of adding a package is
to ask for it to be added, via the Packages option in the top line (the one
with one's login details at the top left). So when I did that it seemed to
me I had to click the Start button, which then launched a build that went
halfway quite quickly and

[2018-05-31 02:02] mbaz commented on #90
@HenriLaurie The build finished successfully for me. Could you try again?

[2018-05-31 07:16] HenriLaurie commented on #90
.... doesn't seem to be working, 12 mins in, will leave it running while I
go out for a while

On 31 May 2018 at 03:02, mbaz <notifications@github.com> wrote:

[2018-05-31 08:45] HenriLaurie commented on #90
Ok, it did build --- but using Gaston fails because gnuplot not installed,
trying Gnuplot.jl to see if it is any different. If not, should I open an
issue for JuliaBox? It seems to me that Gaston is the ideal way to deal
with the slowness of Plots, either for rapid low-quality graphics or for
beginners.

On 31 May 2018 at 08:16, Henri Laurie <henri.laurie@gmail.com> wrote:

[2018-05-31 09:06] HenriLaurie commented on #90
Oof. Can't install Gnuplot at all, it's not a registered package (well, it
doesn't autocomplete) and trying to install it unregistered fails (I don't
know why, and there seems to be no error log).

Well, this clearly isn't a Gaston issue, I'll see if I can get help from
the JuliaBox crowd. Thanks again! And thanks for Gaston, it seems vital
right now for people like me who have teaching to beginne

[2018-05-31 13:51] mbaz commented on #90
@HenriLaurie Yes, it looks like there's nothing I can do on my side. One alternative for teaching would be to have students run Jupyter on their individual computers.
I have already reported this to the JuliaBox issue tracker: https://github.com/JuliaCloud/JuliaBox/issues/507

[2018-05-31 13:54] HenriLaurie commented on #90
Yes. And yes --- I saw you did that, excellent thing.

On 31 May 2018 at 14:51, mbaz <notifications@github.com> wrote:

[2018-06-04 22:58] aviks commented on #90
Yes, GNUPlot is a native dependency, and needs to be added into the system image. We'll explore adding this to Juliabox.

[2018-06-05 00:27] kim-tom opened #91 "Inline display"
Hello. Thank you for your convenient packages.
I wish I could use quiver and y2label in Jupiter notebook.
I am now using quiver by using Gaston.send(). But it seemes that it opens new gnuplot window. I wish I could display quiver graph on the screen of Jupiter notebook.
Can I use %matplotlib inline, which enables pythonists to display graph in jupyternotebook?

[2018-06-05 01:00] mbaz commented on #90
@aviks Thanks, Avik!

[2018-06-05 01:04] mbaz commented on #91
I think there's an issue open for adding quiver and y2label support -- I'm going to look into supporting those when time allows.

Instead of using `Gaston.send()`, I recommend using `gpcom` as an argument to `plot()`. The format is `gpcom="gnuplot command"`, where the string `"gnuplot_command"` is sent to gnuplot as the last command before actually plotting. You can see an example here: https://nb

[2018-06-06 01:59] kim-tom commented on #91
Thank you for your kindness!
I will try it!

[2018-06-07 17:58] mbaz commented on #87
@dawbarton I'm sorry to hear that. I will get to this as soon as feasible, but it probably won't happen for at least one week. I also need to decide if I want to do some kind of geometrically increasing waiting time, where the interval is increased in every iteration. Of course, PRs are always welcome :)

In the meantime, you can edit this value yourself, in line 171 of `gaston_llplot.jl`. It'd be

[2018-06-14 14:53] pemryan opened #92 "Cannot plot a matrix directly"
in Gaston 0.6,
[code]
works well.  exactly the same behavior as in Matlab.

it doesn't work out anymore in Julia 0.7, I check Gaston code, plot(a) will invoke:
`plot!(y::Coord;args...) = plot!(1:length(y),y;args...)`

[2018-06-14 15:34] mbaz commented on #92
When I moved to the improved syntax, I removed support for plotting matrices directly. This shouldn't be too hard to re-implement; I'll put it in my todo list. In the meantime, you can work around the issue by plotting the first column with `plot()`, and then looping over the remaining columns with `plot!()`.

[2018-07-05 07:42] PetrKryslUCSD opened #93 "Master works with 0.7, but the registered version doesn't"
ERROR: There was a problem starting up gnuplot.

I believe this is the timeout issue. It has been fixed on master, but apparently not in the registered version. Perhaps it is time to update the registered release?

[2018-07-05 07:49] PetrKryslUCSD opened #94 "Weird warning"
The master says:

[code]
The plot finished correctly. So I suppose this warning shouldn't really be issued?

[2018-07-05 15:37] mbaz commented on #94
Indeed -- I noticed that a few weeks ago, but I couldn't find the cause then, and then I was 100% busy with work.

I have some free time now, so hopefully I can fix this soon. When this is fixed, I'll do a release (to address https://github.com/mbaz/Gaston.jl/issues/93)

[2018-07-08 16:49] HenriLaurie commented on #90
Thanks to @avik, @mbaz for getting started in May/June. Sadly, problems persist, in particular gnuplot (that is, the graphing utility program) is not available.

However, I see there is now a package Gnuplot 0.2.0 on JuliaBox, which I suspect is the private Github package associated with the user gcalderone. (There are two private Gnuplot.jl packages that come up when one searches with the term "G

[2018-07-08 19:03] aviks commented on #90
Maybe, let me take a look.

[2018-08-24 04:17] HenriLaurie opened #98 "Gaston not working with Julia 0.7 nor with Julia 1"
It seems Gaston still fails with as per #93 for official 0.7 and 1.0. I have been trying both and I get that "There was a problem starting up gnuplot" message for both.

Might it be related to the fact they they are both in trial subdirectories of their own, in my home directory, while gnuplot itself is in /usr/bin?

[2018-08-24 15:10] mbaz commented on #98
That shouldn't be a problem. I install Julia on my home directory myself.

Are you running Gaston master? Are you on windows? What happens if you run gnuplot from a terminal?

[2018-08-25 10:26] HenriLaurie commented on #98
Thanks for the response, mbaz!

Not using master, using Pkg.add. This is deliberate, as I am hoping to
specify Gaston as the plotter for the update of my Julia Intro MOOC on
Coursera. (Also why I am hoping IJulia included gnuplot).

No, I use Linux (Manjaro, to be specific).

Just tried gnuplot from terminal, it starts and plots just fine (and seems
to exit properly as well).

(github not accessib

[2018-08-26 16:14] mbaz commented on #98
@HenriLaurie The latest tagged version is definitely not going to work. There are a lot of changes and improvements in master. However, there is one last remaining bug (#94) that has prevented me from issuing a new release. As soon as I can fix that one, I'll issue a release that should work with 0.7/1.0.

[2018-08-26 17:09] HenriLaurie commented on #98
Great, thanks, really looking forward to that, Julia needs a lightweight plotting package and IMO Gaston is a very good candidate.

[2018-08-26 21:43] mbaz commented on #98
Thanks for the kind words! I hope to make a new release very soon.

[2018-09-06 14:35] hycakir commented on #94
Simply change `warn("some strings")` with `@warn "some strings"` for version >= 0.7.  Together with https://github.com/mbaz/Gaston.jl/pull/96 will make Gaston work with julia 1.0 and 0.7. Only one test doesn't pass after the revisions due to `is_windows`. The function `is_windows()` should be replaced with Sys.iswindows() for version >= 0.7 in test files.

[2018-09-06 15:42] mbaz commented on #94
Thanks @hycakir . I hope to make these changes and tag a new release soon.

[2018-09-26 19:05] musm commented on #78
Well this would also help with windows support through
https://filehippo.com/download_gnuplot/

[2018-10-18 13:55] HenriLaurie commented on #98
Any progress? We've now decided to re-record without using Gaston, but it is still my lightweight package of choice ... although it currently won't Pkg.add in Julia 1.0.1. I would love to be able to use it for teaching.

[2018-10-18 15:49] mbaz commented on #98
@HenriLaurie Unfortunately I've had too much work these past few months. Gaston is on my urgent list of things to do, but something more urgent keeps coming up! Having said that, I have not abandoned Gaston by any means. Also, I'll gladly accept pull requests that help with the outstanding issues.

[2018-10-18 16:00] HenriLaurie commented on #98
Actually, I'm only semi-literate in git-based collaboration*. So for me a painless way to get started would be "PR for documentation" i've seen mentioned. Is there a way for me to start on that? Will I have to get up to speed with GitKraken as Chris Rackauckas suggests, or is there a simpler way?

*I've always been a complete loner in computing projects. They've been scientific explorations, typic

[2019-03-10 18:24] waynelapierre opened #99 "Is Gaston still under maintenance?"
I haven't used Julia for a while, last time when I did I was frustrated by the slow IDE Atom and slow plotting tools. I want to know if Gaston is still under maintenance? From its descriptions, it seems to be faster than Plots.jl but doesn't work on Julia 1.0.

[2019-03-10 20:13] mbaz commented on #99
It is under maintenance, in the sense that it is still on my list of to-do things. I've had very little time to devote to it in the past few months, but I expect things will improve soon; lately, I've had some time to review the changes introduces by Julia 1.1 and I expect to have a Gaston release that works with it in a few weeks.

[2019-03-10 20:13] #99 closed

[2019-03-11 03:12] cosama commented on #98
I applied the required fixes to my fork as mentioned in #100. You can get a working version for `julia>0.7` with

[code]

Hope that helps until @mbaz finds time to merge all the required changes.

Really cool project by the way.

[2019-03-11 18:58] #94 closed

[2019-03-11 23:02] #87 closed

[2019-03-11 23:19] attobot opened #101 "Error tagging new release"
The tag name "v0.9" is not of the appropriate SemVer form (vX.Y.Z).
cc: @mbaz

[2019-03-11 23:20] #101 closed

[2019-03-11 23:21] mbaz commented on #98
I just released version 0.9.0, which works for me using julia 1.1 and all tests pass. Please report any bugs and/or send me your PRs!

[2019-03-11 23:21] #98 closed

[2019-03-11 23:22] mbaz commented on #93
Please try the just released v0.9.0. It passes all tests on Julia 1.1.

[2019-03-11 23:22] #93 closed

[2019-03-12 12:23] HenriLaurie commented on #98
great, thanks very much Mbaz! Will use this in teaching next week, but
not yet sure about putting it in a MOOC ... but definitely still
hoping to do so.

On Tue, 12 Mar 2019 at 01:21, mbaz <notifications@github.com> wrote:

[2019-03-12 13:30] mbaz commented on #98
You're welcome! I hope Gaston behaves correctly in your classes.

[2019-04-01 14:06] #61 closed

[2019-04-01 14:06] #89 closed

[2019-04-01 16:15] hustf commented on #61
Changed behaviour with master after today's commit https://github.com/mbaz/Gaston.jl/commit/b4543d3d047112f839c5fbbd642439c121e4ebbb :

![image](https://user-images.githubusercontent.com/13949620/55342739-bf778c80-54a9-11e9-81f9-e9187f0f3699.png)

[2019-04-01 16:17] hustf commented on #61
Ref. issue #61 (closed).

[2019-04-01 16:24] mbaz commented on #61
Yep, I found a few bugs lingering about, and I'm trying to catch them all.

[2019-04-01 16:30] mbaz commented on #61
@hustf Could you please re-try using master? Things are working fine for me here on xterm.

[2019-04-01 18:08] hustf commented on #61
Ah, for example like this?
![image](https://user-images.githubusercontent.com/13949620/55349368-d0c89500-54b9-11e9-8262-65bc541d432b.png)

[2019-04-01 18:38] mbaz commented on #61
Yeah -- that's it. Thanks for the help. (note that you can configure the plot size, font size, line color, etc just like with any other plot).

[2019-04-01 20:55] mbaz opened #102 "More flexible terminal configuration"
Add a facility to let users append additional terminal configuration. It should have a default string appended to all plots, and an option to `plot` similar to `gpcom`.

[2019-04-01 20:58] mbaz commented on #61
What I think I'll do is let the user append arbitrary, additional terminal configurations; see #102. Gnuplot's terminals are so varied in the parameters they can take, that I hesitate to special case any of them.

I posted in the [recent thread on sixel plotting](https://discourse.julialang.org/t/plots-in-the-terminal-with-sixel/22503/12); I think I'll let that serve as an announcement.

[2019-04-02 07:17] wentasah opened #103 "Fails to plot larger data in Jupyter notebooks"
When I write the following in a Jupyter notebook, I see the graph normally:
[code]
When I increase the size of data (e.g. `rand(4650)`), the plot no longer appears as well as all later plots, no matter how large their data are. Plotting starts working again only after restarting the kernel.

[2019-04-02 12:14] mbaz commented on #103
This is probably caused by a timeout, since the resulting SVG plot is likely very large and communicating via stdin and stdout is slow. In any case, Gaston should be informing you of the timeout and recovering, instead of silently failing. I'll fix this in the next release.

On a more philosophical note, there's little point in plotting more data than you have horizontal pixels in your screen, sin

[2019-04-02 12:24] wentasah commented on #103
Thanks for promising the warning. Would it help to make it configurable to send PNG instead of SVG?

Regarding your note - there are many use cases, where it is beneficial to plot more data than screen resolution:

1. If I have a noisy signal, I can see approximate amplitude of the noise.
2. I can also have a scatter plot with a lot of points and I'm interested in their density.
3. If the image is

[2019-04-02 12:33] mbaz commented on #103
Those are good points :)  and of course the user is always right. I hope to have a fix in master in a few days.

[2019-04-02 12:39] mbaz commented on #103
Regarding support for PNG in addition to SVG, that is an option, my main concern is the increase in maintenance load of two use cases vs one.

Also, the main problem in using stdin and stdout to communicate with gnuplot is that there's no way to know in advance how much data to read. Relying on the stream being empty for some time is not a good solution (that is what Gaston does right now and it f

[2019-04-03 06:34] cosama commented on #75
At least on my system the `.gnuplot` file is parsed and works as expected.

Unfortunately, `Gaston` defines its own defaults, that overwrite the `gnuplot` defaults, so it is required to set the values that I would like to use from `.gnuplot` to `""` (i.e. `color=""`).

I think it would be better (and easier to implement) to let `gnuplot` pick defaults, and allow them being adjusted in `.gnuplot` a

[2019-04-03 07:53] wentasah commented on #103
I looked at the Gaston code and tried to investigate the issue more. I think that what's happening here is a deadlock. `ChanStdOut` queue can hold only 10 items. This means that when gnuplot fills this channel and OS kernel's pipe buffer (64 KiB by default on Linux), gnuplot blocks (i.e. waits for space in the pipe buffer) and never executes `printerr "GastonDone"`.

This situation is handled in `

[2019-04-07 12:23] sergstesh opened #106 "Gaston apparently doesn't support 'logscale'"
I've read the tutorial and I've looked into the code, and apparently Gaston doesn't support Gnuplot logscale property/feature - the one expressed in Gnuplot documentation as

"
Logscale
Syntax:
  set logscale <axes> {<base>}
  unset logscale <axes>
  show logscale
".

If I understand the architecture of Gaston correctly, the problem originates from missing fields in https://github.com/mbaz/Gaston.

[2019-04-08 00:00] mbaz commented on #103
@wentasah Thanks for looking at this. I spent some time debugging the problem in the past couple of days and I arrived at the same conclusion; the problem is a deadlock.

I took a quick look at your changes and they look interesting, but I need some time to understand them better. Some things that the final implementation needs to be able to handle (and the reason behind some of the code in Gaston

[2019-04-08 00:03] mbaz commented on #75
@cosama Thanks for the idea. I'll accept a pull request; otherwise I'll get to this in the near future.

[2019-04-08 00:09] mbaz commented on #106
The supported way to set an axis to logarithmic is:

    plot(rand(20),axis="semilogy")

You can also use `"semilogx"` or `"loglog"`. I need to add this to the documentation....

[2019-04-08 07:42] wentasah commented on #103
I think all you points are taken into account by my changes. It should be clear from commit
2311fc6  that implements `async_reader` and from its tests (see PR #104 thread). Instead of using `sleep()`, `async_reader` uses timeout `Timer`, which runs in parallel with reading of gnuplot output. Therefore, if the output arrives quickly, no `sleep()` delays the execution. If, on the other hand, no new

[2019-04-08 13:09] sergstesh commented on #106
Thanks - 'axis="semilogx"' works for me. Yes, please update the documentation,

[2019-04-08 13:21] sergstesh opened #107 "Underscores and enhanced terminal by default"
If one uses Gaston as is and tries to use strings with underscores in title, the underscores are not displayed. Instead the underscores affect the following character turning it into subscript.

This is not a Gaston feature, this is a Gnuplot feature.

I use a lot of names with underscores, so at least for me it's not convenient behavior and I do not think it should be default. The unwanted for me

[2019-04-08 13:48] mbaz commented on #107
This is a test case I had not tried before. This works for me:

    plot(rand(20),title="title\\_one")

My plan for the next release is to allow users to configure default terminal options. This would allow you to set the terminal to "noenhanced" if you prefer, while keeping the "better" terminal as the default.

[2019-04-08 15:58] sergstesh opened #108 "No minor ticks grid in the tutorial (and code?)"
Gaston does allow to (not) have grid displayed using "grid=<"on"_or_"off"> keyword argument in plot commands.

Gnuplot allows to also control grid linked to minor tics using e.g. the following command to enable grid linked to minor tics:

_set grid mxtics mytics_
.

I haven't found anything on grid linked to minor tics in the tutorial.

In practice adding

_gpcom="set grid mxtics mytics"_

to plot

[2019-04-08 16:02] sergstesh commented on #108
And a related (?) issue.

'qt' terminal has a grid icon allowing to toggle grid display. When using the icon the grid is first turned off, and then turned on the part of grid linked to minor tics is not displayed.

[2019-04-08 16:08] sergstesh commented on #108
I think that enabling grid linked to minor tics should be the default. IIRC in very popular among electronic designers LTSpice there's no way to turn off grid linked to minor tics.

Line styles for grid lines linked to minor and major tics should probably be different though.

[2019-04-08 19:23] mbaz commented on #108
Indeed, I almost never use minor ticks so they've been a very low priority, especially since you can get them using `gpcom`. The best way to make this happen is to issue a pull request. Otherwise, I'll get to this after solving higher-priority issues.

I can reproduce the issue with the qt (and wxt, too) plot window, but that is a gnuplot bug. Their bug tracker is here: https://sourceforge.net/p/g

[2019-04-09 01:25] sergstesh opened #109 "'sleep' prevents Gaston from displaying the plot"
If I create a file with the following contents:

# file contents begin
using Gaston;

let
  plot(rand(10));
  sleep(1);
end
# file contents end

and from Julia interactive prompt enter

include("/full/path/to/test/file")

, no plot is displayed.

Commenting out the 'sleep' statement allows the plot to be displayed.

[2019-04-09 01:32] sergstesh opened #110 "'error' statement prevents Gaston from displaying the plot"
If I create a file with the following contents:

_
using Gaston;

let
  plot(rand(10));
  error("debug halt");
end
_

and from Julia interactive prompt enter

_include("/full/path/to/test/file")_

, no plot is displayed.

Commenting out the 'error' statement allows to display the plot.

[2019-04-09 02:15] sergstesh commented on #109
If in the above code I replace

_sleep(1);_

with

_run(`sleep 1`);_

, the behavior is the same. I.e. plot is  not displayed.

[2019-04-09 13:15] sergstesh commented on #109
Frankly, I do not know what Jupyter is (well, I read something about it, but that's all).

I am running "naked" Julia - without any IDE, from 'konsole' under KDE. I am interested in just producing the plots. Is there a way to obtain what I want using Gaston ?

[2019-04-09 13:16] sergstesh commented on #110
Frankly, I do not know what Jupyter is (well, I read something about it, but that's all).

I am running "naked" Julia - without any IDE, from 'konsole' under KDE. I am interested in just producing the plots. Is there a way to obtain what I want using Gaston ?

[2019-04-09 20:14] sergstesh commented on #110
\- though the statement is correct, it is irrelevant. The intent of plot-like functions is in terms of programming producing a side effect, namely, rendering a plot - be it in a window or in a file.

\- and this is exactly wrong from end user's point of view. Plotting is often used as a means of debugging, so if after several hours of work code errors out and the plot is destroyed (well, rather no

[2019-04-09 20:44] sergstesh commented on #110
Anyway, the following code:

[code]

works for me without calling 'llplot' directly.

And this:

[code]
 produces two plot windows as expected.

[2019-04-09 22:34] mbaz commented on #110
Gaston chooses to use Julia's display infrastructure, which in fact is very flexible and powerful, and allows functionality such as Jupyter compatibility. I will not consider adding a `show=true` option to `plot`, it is too invasive.

Your workaround works fine, as you found out. `display`, when called on a Gaston figure, invokes `llplot` to have the figure window created.

Note, however, that the

[2019-04-09 22:48] mbaz commented on #110
Regarding this behavior being counter-intuitive: I agree that it can be, especially if coming from tools where plotting is a side-effect by itself. However, I would argue that this behavior, summarized as "functions return values that are displayed in user-selected and user-configurable ways" is, actually, extremely powerful once you get used to it.

From my perspective, I find the way you're grou

[2019-04-10 02:56] sergstesh commented on #110
\- first of all, Julia at the moment does not support typed variables at top level of REPL. I decided to switch to Julia from Octave because I wanted the possibility to have strict types, and I'm using strict types wherever possible. Besides that, 'let .... end' creates scope - another feature I was missing in Octave and GREATLY enjoy in Perl. OCaml is the same in this respect.

 \- while working

[2019-04-10 14:49] mbaz commented on #110
One thing you could do is to add

    myplot(x...) = display(plot(x...))

to your `.juliarc` initialization file.

[2019-04-18 18:37] #103 closed

[2019-04-29 16:28] #64 closed

[2019-04-29 16:28] #102 closed

[2019-04-29 16:31] mbaz commented on #107
Fixed in https://github.com/mbaz/Gaston.jl/commit/de88e47e6163324544de30599bb1f5b424bd2d9a

[2019-04-29 16:31] #107 closed

[2019-04-29 16:31] mbaz commented on #86
Fixed in https://github.com/mbaz/Gaston.jl/commit/dafbcf8d9e0ea299b74b5fca5e6d053bfdacd44f

[2019-04-29 16:31] #86 closed

[2019-04-29 16:32] mbaz commented on #75
Fixed in https://github.com/mbaz/Gaston.jl/commit/dafbcf8d9e0ea299b74b5fca5e6d053bfdacd44f

[2019-04-29 16:32] #75 closed

[2019-04-29 16:34] mbaz commented on #82
@PetrKryslUCSD I think recent changes should have fixed this issue -- I can't reproduce it in any case. If you're still using Gaston, could you please update to master and retry?

[2019-04-29 16:38] mbaz commented on #78
I see little benefit for the potential gain and large amount of work involved here... I'll probably accept a pull request, but I need to be convinced that I can distribute a GPL binary along with a BSD package.

[2019-04-29 16:38] #78 closed

[2019-04-29 16:55] cosama commented on #75
@mbaz Great work on that. Sorry I didn't manage to find some time to help out some.

[2019-04-29 17:21] mbaz commented on #75
@cosama No worries! Please let me know if you have more suggestions or find any bugs.

[2019-05-02 20:47] #82 closed

[2019-05-07 18:41] ConAntares opened #112 "How to change the Font?"
I want to use "CMU-Serif" font. But I don't know how to set it with Gaston.

[2019-05-08 01:22] mbaz commented on #112
With Gaston v0.9.2, you can do it as follows:

julia> set(print_fonface="CMU-Serif")
julia> plot(rand(10))  # will use the selected font

The current master branch has a lot of fixes and improved documentation; I'll release it as soon as I fix a few loose ends. In master, you can do:

julia> plot(rand(10), font="CMU-Serif")

and you can set the default font globally with

julia> set(font="CMU-Seri

[2019-05-08 04:21] ConAntares commented on #112
However, I have attempted ```set(font="CMU-Serif")```  I got the Error: ```no method matching set(; font="CMU-Serif")```

I think Gnuplot is more powerful than Pyplot in the scientific drawing. I am looking forward to your update very much. :)

[2019-05-09 06:32] ConAntares commented on #112
My version of Gaston is already v0.9.2, and my version of Julia is 1.1 working in Windows10.
All these ways were failed, :(.
[code]
[code]

[code]
[code]

[code]
[code]

Could you offer some demos? Thank you very much.

[2019-05-09 12:58] mbaz commented on #112
This should work; notice the missing `t` in `font`:

`set(print_fontface="CMU-Serif")`

[2019-05-09 17:04] ConAntares commented on #112
Thank your very much for your help.

But it also cannot change the font.

My code and result:
[cid:image002.png@01D506CC.543B5FD0]

Gnuplot version: 5.26
Gaston version: 0.9.2
Julia version: 1.10
OS: Windows10

Sincerely,
Luke

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: mbaz <notifications@github.com>
Sent: Thursday, May 9,

[2019-05-09 19:15] mbaz commented on #112
The image didn't make it through. Can you provide a link?

[2019-05-09 19:22] ConAntares commented on #112
I am sorry. The previous reply I sent in e-mail.

This is the picture:
![Codes and Result](https://github.com/ConAntares/Problems/blob/master/2019/20190510.png)

[2019-05-09 19:27] mbaz commented on #112
I'm not sure what's going on, but that warning you got is not normal; a related bug is fixed in the master branch. Can you please try the same commands again in a fresh session? I just tried it myself here, and it works.

[2019-05-09 19:33] ConAntares commented on #112
I have re-installed Gaston and tested it just now.
I got some errors as follows:
[code]

[2019-05-09 20:25] mbaz commented on #112
I've never tested Gaston on Windows; I'll have to try it out. On Linux, all tests pass.

Have you tried to change the font in a fresh session?

[2019-05-09 20:26] mbaz opened #113 "Verify tests pass on Windows"

[2019-05-09 20:29] ConAntares commented on #112
Yes, I have attempted many times.
I think the reason is caused by the incompatibility between the Windows10 and Gaston.

[2019-05-09 20:56] mbaz commented on #112
It could be. Sorry about that. I develop and work in Linux. However, I'll take a look at this and try to fix any errors before the next release.

Maybe running Julia under WSL is a viable workaround?

[2019-05-10 13:17] ConAntares commented on #112
Thanks for your help very much!

My school offered me a computer with Linux, I will try to use Gaston after the holidays.
I assert Gnuplot is more powerful than MatPloLlib, MATLAB, MATHEMATICA, PlotlyJS, and Tikz. I hope Gaston could become better and better~

Sincerely,
Lu

[2019-05-12 19:46] mbaz commented on #112
You may want to follow this thread: https://discourse.julialang.org/t/process-streams-not-working-in-windows/24150/2

[2019-05-14 16:29] asinghvi17 commented on #112
It seems you're not actually on master - try `add Gaston#master` and then see if the solutions work?

When testing, you can see:
[code]
whereas on master, you would see:
[code]

That being said, I do get some test failures on OSX and `master` (though they appear to be unrelated).

[code]

[2019-05-14 17:58] ConAntares commented on #112
Thank you very much for your answer.
But in Windows, it also doesn't work and get errors when I test Gaston:

[code]

[2019-05-14 18:44] mbaz commented on #112
@ConAntares Indeed, Gaston master does not work with windows, but the cause is different than for v0.9.2.

@asinghvi17 Thanks for the help and the report. That particular test seems to be quite problematic; I've found that different gnuplot versions generate slightly different plots. Gnuplot's configuration can also affect it. I will remove the test for the time being. If that is the only failure

[2019-05-14 18:47] ConAntares commented on #112
There are a lot of users using Windows. Will you support for windows in future version?

[2019-05-14 21:22] mbaz commented on #112
I want to support windows. My problem right now (see the thread I linked above) is that the current issue with streams will take some time to debug. I don't know if the problem lies with gnuplot or with Julia. I will do my best, but it make take some time. I want to release v0.9.3 soon, so I might have to temporarily disable support for windows. I'm sorry for the bad situation at the moment.

[2019-06-03 23:17] mbaz commented on #112
Just a quick note -- I'm making progress on this front. I'm confident I'll be able to support Windows soon.

[2019-06-04 19:43] #113 closed

[2019-06-04 20:01] mbaz commented on #112
Current Gaston master passes all tests on Windows, and the font commands as described above seem to work.

Note that plotting in Windows can be slow; see https://discourse.julialang.org/t/standard-streams-much-slower-in-windows-than-in-linux/24924

[2019-06-11 20:03] ConAntares commented on #112
I'm very happy about this. Thank you for your support.

[2019-06-12 13:16] mbaz commented on #112
Thanks! v0.10.0 is around the corner, I'm almost done with the docs.

[2019-06-18 19:16] mbaz commented on #112
Fixed in v0.10.0. See new docs: https://mbaz.github.io/Gaston.jl/v0.10.0/

[2019-06-18 19:16] #112 closed

[2019-06-18 19:17] mbaz commented on #108
Fixed in v0.10.0. See new docs: https://mbaz.github.io/Gaston.jl/v0.10.0/

[2019-06-18 19:17] #108 closed

[2019-06-18 19:17] mbaz commented on #106
Fixed in v0.10.0. See new docs: https://mbaz.github.io/Gaston.jl/v0.10.0/

[2019-06-18 19:17] #106 closed

[2019-06-18 19:18] mbaz commented on #91
Fixed in v0.10.0. See new docs: https://mbaz.github.io/Gaston.jl/v0.10.0/

[2019-06-18 19:18] #91 closed

[2019-06-18 19:19] #49 closed

[2019-06-21 11:16] ConAntares commented on #112
It works well on my computer. I will use Gaston in my articles. And I will recommend it to others.

[2019-07-01 12:33] Photonico opened #114 "cannot use "scatter!""
I need to use "scatter!" to plot some points in the graph, but Gaston seems doesn't support it.

[code]

[2019-07-01 14:05] mbaz commented on #114
Yes, I haven't implemented `scatter!`. I can add it to the next release.

In the mean time, you can use `plot!` with `plotstyle="points"`:

[code]

[2019-07-02 06:27] ConAntares commented on #114
Thanks a lot for your response.

After a period of trial, I have found some issues:
1. The startup time is too slow;
2. Only a few fonts are supported, I also can't use "CMU-Serif";

And I have some suggestions:
1. Add a statement which aims to control global variables. like ```rcParams``` in Matplotlib;
2. Discard the GUI of Gnuplot, only use its core;
3. Support LaTeX natively.

I hope that I ca

[2019-07-02 14:13] mbaz commented on #114
Thanks for the feedback.

1. Regarding startup time: if you're on Windows, this is a known issue that I cannot fix. See [this thread](https://discourse.julialang.org/t/standard-streams-much-slower-in-windows-than-in-linux/24924). If possible, run Julia on a Linux virtual machine for best overall performance.

2. Regarding fonts:

* Please see the "Fonts" section on [gnuplot's documentation](http:/

[2019-07-02 14:21] ConAntares commented on #114
Thank you for your response.

I'm very looking forward to the new version.

[2019-07-02 18:06] mbaz commented on #114
Have you read all of Gaston's documentation? Gaston already works in Jupyter. You can also plot ot the terminal using `set(terminal="dumb")`.

Gnuplot.jl is faster in Windows because it doesn't do as much error handling as Gaston.

[2019-07-02 18:50] ConAntares commented on #114
Thank you very much for your response, I am going to read the doc carefully.

I am a first-year Ph.D. student in Physics, my temporary task is learning scientific programming. I have a strong interest in Julia. I have tried and learned a lot of plotting packages in Julia. Such as GR.jl, Plotly.jl, Plots.jl, PyPlot.jl, PGFPlotX.jl, Makie.jl, etc., I think they are not as powerful as Gnuplot. So I h

[2019-08-04 05:28] Photonico opened #115 "Could you support LaTeXStrings.jl?"
Gaston works well in Jupyter even I use windows.
LaTeXStrings.jl can provide the effect of latex in plotting. but it is unavailable in Gaston.
![problem](https://raw.githubusercontent.com/ConAntares/Problems/master/2019/20190804b.png)
![problem](https://raw.githubusercontent.com/ConAntares/Problems/master/2019/20190804c.png)

[2019-08-20 08:44] BeastyBlacksmith opened #116 "Support plot recipes"
To me any julia plotting packge that aims to compete with `Plots.jl` needs to support plot recipes offered by `RecipesBase.jl`.

[2019-08-20 17:11] mbaz commented on #116
I will accept pull requests. My requirements are: don't increase time to first plot substantially; complete unit tests; and documentation.

[2019-08-22 22:38] scottstanie opened #117 "Figures don't appear on linux REPL"
Hi, I seem to have successfully installed Gaston, and gnuplot itself works and can show windows, but doing any `plot` commands or `figure()` commands don't show anything.

Any suggestions on how to debug?

[code]

[2019-08-23 01:11] mbaz commented on #117
Do you get any errors or warnings? After running the `plot` command, do you get the REPL command prompt again, or does it hang?

To get debug info, try modifying the function `gnuplot_send()` that is found right at the end of the source file `gaston_aux.jl` (let me know if you need specific instructions on how to do this). The modification needed is to uncomment the line `#println(s)` at the start

[2019-08-23 02:15] scottstanie commented on #117
Thanks for the quick response!

No errors, warnings, or hangs- just gives the figure number but nothing happens.
[code]
But after doing the `]dev Gaston` and editing it, I got some output similar to what you had. Still no window though, so I thought it might be a qt vs x11 thing (I'm sshed and forwarding X windows).
so i tried `set(terminal="x11")` and I got one to appear, but a new error came:

[

[2019-08-23 14:05] mbaz commented on #117
Thanks for the info. This is really weird and I can't reproduce it.

Let's try to discard gnuplot as the problem. Are you using gnuplot 5.2? Could you run the `plot(1:10)` command again, and then copy-paste the output into a fresh gnuplot REPL?

[2019-08-23 16:27] scottstanie commented on #117
Apparently I had gnuplot version 4.6 since that's what `yum install` gives you (I'm doing this on Centos 7).
I eventually got a gnuplot 5.2 working, but I've definitely found that this is purely a gnuplot issue, specifically with installing gnuplot + qt support.

I can close this if you'd like, or post whatever solution I find once I figure out how to make it recognize qt- this installation is muc

[2019-08-23 16:41] scottstanie commented on #117
oof that was painful. for any future centos users who want to install gnuplot with qt, i'll list the extra steps and `yum install`s i had to, as well as the extra flags i had to pass to `configure` and `make`

download gnuplot 5.2 from here http://www.gnuplot.info/download.html, `yum install gnuplot` will give you an old one

After `tar -xzvf gnuplot-5.2.7.tar.gz`, go into the unzipped directory.

[2019-08-23 16:41] #117 closed

[2019-08-23 17:54] mbaz commented on #117
@scottstanie Thanks for following up and posting the solution. I'm glad you were able to solve the problem. I'll see if there's a way for Gaston to recognize that gnuplot doesn't support the requested terminal, although it will be difficult given the limitations of the stdin/stdout interface.

BTW, in Ubuntu you need (I think) to install the package `gnuplot5`; otherwise you end up with gnuplot 4.

[2019-09-12 07:18] jxy opened #118 "timeout is too short"
Surface plot in a qt term always take longer on my computer, especially with larger sample/isosample.  The setting for timeout is too optimistic in my opinion for something that throws error.

https://github.com/mbaz/Gaston.jl/blob/fb0ac116886d7d7d89633f8934058c94a0ad174b/src/Gaston.jl#L29

Perhaps just print out a warning every couple of seconds and keep reading until EOF?

[2019-09-13 14:46] jxy commented on #118
No.  It's macOS with qt term.
Simply doing `surf(x, y, (x,y)->besselj0(y)*x^2, plotstyle="pm3d", gpcom=postcomm)` takes a couple of seconds at the first launch.  Subsequent runs still take about a second.

[2019-09-13 16:15] mbaz commented on #118
How many points are you plotting?
Also: can you run the test described here and post the results (maybe in a gist if they're too long): https://discourse.julialang.org/t/standard-streams-much-slower-in-windows-than-in-linux/24924/3

[2019-09-15 20:37] jxy commented on #118
It seems the initialization of the QT term takes a long time when there are lots of fonts available.

[2019-09-16 14:45] mbaz commented on #118
That would explain the issue. As a workaround, you may want to try the 'aqua' terminal which is native to MacOS.

I will add a command to allow the user to set the timeout. It'll be out in the next release.

[2019-09-16 14:47] mbaz opened #119 "Add capability to set/unset a 'debug' mode"

[2019-09-27 17:55] jxy commented on #118
Just to let you know that I'm also hitting this on my FreeBSD box with wxt term.  It's just that the first plot takes a lot longer.  Subsequent plots are fine.

[2019-09-27 23:59] mbaz commented on #118
@jxy I'll hurry with an update -- I've just been too busy lately.

[2019-11-26 07:48] isentropic opened #120 "Possibility to set default config file"
Dear @mbaz, this is probably the best plotting package for Julia, Plots.jl Makie.jl look horrible even after all customizations I tried to apply.

Is there a way to set up a config file for the default font, grid, tic style ...?
Better to integrate with native Gnuplot binary even somehow?

[2019-11-26 07:57] isentropic commented on #120
Actually, there exists systemwise .gnuplot rc, I'll check if that RC is used when using it through Gaston.

[2019-11-26 08:00] isentropic opened #121 "Interactive Plots in Jupyter"
Is there a possibility to have Interactive (zoom, pan) plots in Jupyter?
ATM, Gaston only plots plain images into notebooks.

[2019-11-26 14:25] mbaz commented on #120
@isentropic Thank you for the kind words.

Indeed, Gaston respects your .gnuplot configuration file. It is loaded before every plot. In addition, you can change the value of any Gaston parameter using `set`. If you want a parameter to be always set to some value, you can add a `set` command to your `.juliarc.jl` file.

The documentation is here: https://mbaz.github.io/Gaston.jl/v0.10.0/

[2019-11-26 16:35] mbaz commented on #121
It *is* possible, according to the documentation; I've just never had a chance to implement it.

I'll look into it, but it may take some time. I'll accept a pull request implementing this; you should start with the documentation for the svg terminal, page 248 in the [manual ](http://www.gnuplot.info/docs_5.2/Gnuplot_5.2.pdf).

[2019-11-27 03:26] isentropic commented on #120
Yes, it indeed works

[2019-11-27 03:26] #120 closed

[2019-11-28 03:31] isentropic commented on #72
I (personally) have never seen good native (done within the package) multilayout plots. I think that it is better to nail single plot system first

[2019-11-30 16:16] waynelapierre opened #122 "Date as x-axis"
I work with a lot of panel data and I would like to know how to plot my data with dates as input for x-axis in Gaston. Thanks.

[2019-11-30 17:32] mbaz commented on #122
Gnuplot supports this (see page 50 in the manual, http://www.gnuplot.info/docs_5.2/Gnuplot_5.2.pdf) but this functionality is not exposed by Gaston. I will accept a PR to implement this.

How do you work with dates in Julia? Is there a package you use, or is it part of the standard library?

[2019-12-16 10:57] isentropic opened #123 "No printfigure in jupyter"
An attempt to save figures in jupyter gives:
[code]

[2019-12-16 15:32] mbaz commented on #123
Yes -- I've never had a chance to test if we can print from Jupyter. I will test this soon.

[2019-12-18 12:47] crash-crush opened #124 "pkg> test Gaston ... Tests failed (Julia1.2.0)"
Hello,
I wanted to try Gaston to plot some stuff. But after some code didn' work. I tried.
`pkg> test Gaston`
And some tests failed.
The output from the REPL is below. Does anyone know how to fix?

(v1.2) pkg> test Gaston
   Testing Gaston
 Resolving package versions...
    Status `C:\Users\myname\AppData\Local\Temp\jl_5jkfc2\Manifest.toml`
  [4b11ee91] Gaston v0.10.0
  [2a0f44e3] Base64  [`@stdli

[2019-12-18 23:03] mbaz commented on #124
What platform are you in?

I suspect that the problem is that the SVG being returned by gnuplot in your platform is not UTF-8. This is not really a concern, and since this is the only test that fails, I think you can safely use Gaston without worry.

Just to make sure, can you please run these commands in your Julia session and tell me the result?

    using Gaston
    set(reset=true)
    set(mode

[2019-12-19 01:44] crash-crush commented on #124
I am using Windows 10 ?

After running the code in the REPL there is the following output:
`<?xml version="1.0" encoding="windo`

is there a meaning of this ?

[2020-01-18 19:53] mbaz opened #125 "General configuration commands"
We need a way to configure gnuplot In environments where a user cannot configure their own `gnuplotrc` file, such as in Binder.

[2020-02-03 15:27] NoelAraujo commented on #123
I got the same error with Juno (not Jupyter).
I just hacked the code and comment the line 406 of the file `gaston_hilvl.jl`
`#IsJupyterOrJuno && error("printfigure command disabled in Jupyter notebook.")`.

After building Gaston package again, I can save the figure. I hope this information helps

[2020-02-03 23:12] mbaz commented on #123
@NoelAraujo It does help -- thanks. As soon as I have a little bit of free time I'll release a new version including this change.

[2020-02-29 15:20] lazarusA opened #126 "MWE for a complete figure"
Great work... so far everything is fast and it looks nice... but..

How looks like a MWE for a figure, from calling Gaston to save it?
It seems that something is wrong with the saving option? In my case I just get some lines and not the whole plot.

Also, if I run one simple script the plot it's not displayed in a new window...

[2020-03-01 01:38] mbaz commented on #126
@lazarusA Thanks for the kind words!

Have you seen this? https://mbaz.github.io/Gaston.jl/v0.10.0/2dplots/#Saving-plots-1

If you give me more details, I can investigate the problem when saving plots. What terminal? What are you plotting? What's the exact command you use to save the plot?

For your second question: what do you mean by "run one simple script"? Do you run it from the command line w

[2020-03-01 09:27] lazarusA commented on #126
Hello,
yes I tried the following in Julia 1.3.0

[code]
and the figure its just wrong.

Regarding the script. I was expecting to run the same code from an file as
`
$ julia file.jl
`
and get the figure in a new window. But no, as you said, I need to pass `-L` and then call for the corresponding figure in the julia session.

[2020-03-01 13:31] lazarusA commented on #126
After playing around this weekend with `Gaston` I can say that I'm able to reproduce most of the basic plots for publication(that I use). Things will be better if only this section of gnuplot (http://gnuplot.sourceforge.net/demo/varcolor.html) were available, perhaps via `gpcom` but I was not able to figure out a way to do it. If you have an easy hack I could code some  basic (including docs in a

[2020-03-01 16:25] mbaz commented on #126
Once thing you need to be aware of is that, for saving as pdf, the size is given in inches. You are saving a _huge_ plot.

Try changing the size to `size="5,3"`. Please let me know if that helps.

[2020-03-01 18:24] lazarusA commented on #126
Yes, that was the problem... going to inches. Thanks. Looking forward for new features.. specially the colouring part that I mentioned above. All the best!

[2020-03-01 18:24] #126 closed

[2020-03-01 19:37] mbaz commented on #126
Are you aware that you can define your own linetypes in gnuplot's startup file? See https://mbaz.github.io/Gaston.jl/v0.10.0/#gnuplot-configuration-1

Would that be enough for your needs?

[2020-03-01 20:02] lazarusA commented on #126
Yes, I'm.
 However, I think it will be better to be able to simply call `lc pal z`,  or `lc var` for coloring for example scatters with a third column of variables as in pure gnuplot or as is usually done in Plots's syntax `(linez)` (keyword) more than defined everything before hand. Or being able to put a colormap(palette) in a line with `lc pal`. (http://www.gnuplotting.org/using-a-palette-as-li

[2020-03-01 20:54] mbaz commented on #126
I'm having trouble imagining how to use `lc variable`. If you execute a regular `plot` command, how do you specify the additional column for the line type? Should `plot` take an additional argument? How do you imagine it working? (The same goes for `lc pal z`).

I'm open to implementing this, but we need to figure out a way to interface with these commands.

I'm also open to accepting PRs implemen

[2020-03-01 21:25] lazarusA commented on #126
I imagine that the most natural way to do this is to have an extra keyword, as in the Plots recipes ecosystem. Where this is usually achieved by passing values to the argument `linez = ...` and specifying the corresponding colormap to use, in the language of gnuplot, a palette.

[2020-03-01 21:31] lazarusA commented on #126
at the moment I cannot offer much help. I'm still getting familiar with the Gaston interface to gnuplot. But the idea is to have at the end 3 columns available of values and passed them to `plot`  in gnuplot. So far you only pass 2 for 2D plots. (Although, you already have some recipes for 3, in the contour and surf functions).

[2020-03-01 23:02] lazarusA commented on #126
Never mind. Probably there is no need for such things. I was able to do it with your `plot` definition in two lines of code. Keep up the good work and good luck !

[2020-03-02 17:46] mbaz commented on #126
@lazarusA Thanks for the feedback, and please report back any issues you find or any ideas for improvement.

[2020-03-08 01:47] #88 closed

[2020-03-09 00:26] #92 closed

[2020-03-09 19:32] #114 closed

[2020-03-09 23:24] mbaz commented on #115
@Photonico As far as i can see, this is unsupported by Gnuplot itself, and is not something that can be done from Gaston.

Gaston already supports enhanced text mode (see page 27 in the Gnuplot 5.2 manual). That provides some minimal math support.

Otherwise, you'd need to use a terminal that supports Latex, such as `epslatex` or `tikz`. I want to support the `tikz` terminal eventually, but it pro

[2020-03-09 23:24] #115 closed

[2020-03-09 23:48] #118 closed

[2020-03-09 23:50] mbaz commented on #72
I've found a use case for this feature: generating multiple plots in Jupyter, from code in a single cell, or from a single @manipulate.

I'll add support for this (minimal) functionality in 0.11. As always, a pull request would be appreciated!

[2020-03-10 21:33] #119 closed

[2020-03-10 21:50] #123 closed

[2020-03-10 22:01] #124 closed

[2020-03-11 18:02] lazarusA opened #127 "terminal epslatex"
Hello,
how hard is to include the epslatex terminal?. I suppose that by doing it, it will possible to add labels and equations with the latex syntax.

[2020-03-12 01:05] mbaz commented on #127
Not too hard, but not straightforward either, because currently there is no way to specify an output file name. `Cairolatex` might be a more modern option, but I need to research this more.

[2020-03-12 13:33] mbaz commented on #127
@lazarusA Please stand by... I should have something working soon.

[2020-03-12 15:44] lazarusA commented on #127
I mean, this only helps if the Latex support is possible. Otherwise I think it will be not worth it.

[2020-03-12 16:23] mbaz commented on #127
@lazarusA What is possible with gnuplot is to have a plot with latex labels (title, axis, etc.). Gnuplot will produce two files (one `.tex` and one `.eps`). You need to `include` the  `.tex` file in your own Latex document, compile it, and that will actually produce the plot.

As far as I know, this is the only way you can have Latex labels in a plot using Gnuplot. Please let me know if this is ac

[2020-03-12 16:28] lazarusA commented on #127
Yes, that's what I mean. And more than useful to me is for the community. I think this is something that will be pretty convenient to have.

[2020-03-12 17:14] mbaz commented on #127
Alright -- I'm on it.

[2020-03-12 21:01] lazarusA opened #128 "contour color lines"
Hello,
any advice on how to use the set the same color map for the lines as in the colorbar? In pure gnuplot looks easy but I don't see how to do it here. (https://stackoverflow.com/questions/17700262/gnuplot-how-to-obtain-contour-lines-with-the-same-level-color-of-the-3d-plot)

[code]

[2020-03-16 22:42] #127 closed

[2020-03-16 22:56] mbaz commented on #127
@lazarusA You can try the new terminals if you install Gaston master:

`Pkg> add Gaston#master`

and then you can run:

[code]
and you should see two new files in your current directory: `test.tex` and `test.eps`.

Let me know if you have any problems.

I'll release 0.11 soon, but I need to write the documentation first... will take me a few days.

[2020-03-16 23:12] mbaz commented on #128
The example in stackoverflow doesn't work for me in gnuplot 5.2 -- all contour lines are cyan.

I don't know how to accomplish this in gnuplot, but if you can figure it out there, you should be able to reproduce it with Gaston.

Also: please ask support questions in Discourse with the `visualization` tag (https://discourse.julialang.org/c/domain/viz/17). That way, more people can chime in and bene

[2020-03-16 23:12] #128 closed

[2020-03-19 00:24] mbaz opened #129 "Accept a function as an argument"

[2020-03-20 16:09] mbaz opened #130 "More `set` and `plot` arguments"
These gnuplot properties should be settable with `set` or with an argument to `plot`:

- [x] {x,y,z}tics
- [x] {x,y,z}range: improve syntax
- [x] view
- [x] palette

[2020-04-10 18:50] RoyiAvital commented on #113
Does `Gatson.jl` expects the executable of GnuPlot to be on the path?
Could the path to GnuPlot executable be defined in `Gtason.jl` to allow working with GnuPlot without installing it (Just unzip it in a given path)?

[2020-04-11 15:22] mbaz commented on #113
@RoyiAvital Currently, Gaston expects gnuplot to be on the path. However, it is easy to add a setting for a path. Would you mind opening a new issue?

In the meantime, you can add a path manually by editing line 62 in `Gaston.jl`.

[2020-04-16 14:05] PallHaraldsson opened #132 "Tag a release?"
I found the line to fix the timeout (to 6 worked for me) but can't change just current tagged release:
https://github.com/mbaz/Gaston.jl/blob/c1416798f8aed1aa8f842f45220990537a6c43b3/src/Gaston.jl#L29

I see that I do not get a timeout on master, and that line has moved, but strangely didn't look sufficient. Anyway, just release? If too much backport that one change?

[2020-04-16 14:12] PallHaraldsson commented on #132
Master is slightly slower though (and it's the using part, note same Julia 1.5) not something the optimization directive in code would fix (while it only helps for first plot, the only assumed speed problem):

[code]

[2020-04-16 14:23] PallHaraldsson opened #133 "Second plot speed"
FYI: Second plot speed is much better as expected (with fewer allocations), but only third plot has fewest allocations, and expected speed.

I wouldn't say this is an "issue", just an observation on non-master. I've only heard of "first-plot issues". I wander about the reason and if it applies to other (plotting) packages and master here. I've always relied on benchmarking code after running ONCE.

[2020-04-16 15:22] mbaz commented on #133
@PallHaraldsson That's interesting behavior; I woud have expected the third and subsequent plots to take the same time as the second.

There are some performance-related changes on my local master branch that might affect this. After I release 0.11 (should be a few days now), I'll run some profiling and try to figure out what is going on.

The good thing is that even the first plot is very fast!

[2020-04-16 16:55] mbaz commented on #132
Could you please give more details about the circumstances of the timeout?

[2020-04-16 16:58] mbaz commented on #132
Also: on master, the timout values are now user-configurable, instead of fixed. That is why that line is no longer there. (But I just found a bug trying to set it -- I need to look into that).

[2020-04-16 19:13] mbaz commented on #132
In my local master branch, I just updated the default timeout to 6. I've also fixed the bug in the `set` command, so users now can set their own timeouts properly.

[2020-04-17 18:41] #129 closed

[2020-04-18 15:32] PallHaraldsson commented on #132
That's simple, it's just the plot:

plot(randn(10^6),randn(10^6))

as seen here: https://github.com/mbaz/Gaston.jl/pull/131#issuecomment-614651020

Yes, I was using julia 1.5 (and non-master Gaston.jl) but if I recall got the same on julia 1.4. Should be easy to confirm.

[2020-04-18 15:48] PallHaraldsson commented on #132
I'm not sure (most) users actually want to set timeouts, I'm not sure about the why needed (and not done in other plotting packages?). If the timeout is high enough then this doesn't matter.

The README seems outdated: "Fast: time to load package, plot, and save to pdf is around five seconds."

I would either tag master as is (I wouldn't know about all changes there), or only with a change to the

[2020-04-18 19:19] gcalderone commented on #133
Is it possible that `plot(randn(10^6),randn(10^6))` simply sends the commands to gnuplot, but do not wait for it to be completed?

On my computer I get consistent results with `display(plot(randn(10^6),randn(10^6)))`.

[2020-04-19 00:48] mbaz commented on #133
@gcalderone I need to look at this in more depth (after I manage to get the next release out). However, I _think_ I'm waiting until gnuplot finishes plotting. Gaston tells gnuplot to print a message on stderr as the last step of a plot command, and does not return until it gets the message back.

[2020-04-19 00:52] mbaz commented on #132
@PallHaraldsson I appreciate all your feedback and I'll merge your PR. I hope you don't feel ignored :)

At the moment I'm doing a large rewrite of Gaston's internals, and I want to get those done before I tag a new release. This new version has so many new user-facing features and internal code simplifications that I think it's worth to wait a few days more and do just one big release.

(Most the

[2020-04-21 19:55] PallHaraldsson opened #134 "Plot doesn't appear in front of other windows"
I mean it does the first time, and even on master, with the second plot (whether or not I closed the old plot window), I only get a notification in Ubuntu, and have to click on it to bring the plot windows to front.

FYI:I wasn't sure if this was an Ubuntu window manager thing, but at least this doesn't happen with <s>Gnuplot.jl and</s> GR.jl on same OS.

[2020-04-21 20:30] mbaz commented on #134
I can't reproduce. I run Openbox and every `plot` command raises the plot window to the front.

I'll see if Gnuplot.jl is doing anything differently, but since windows are controlled by gnuplot, I'm not sure what that could be.

[2020-04-21 22:15] PallHaraldsson commented on #134
Sorry, it's only GR.jl that's ok. I seem to remember Gnuplot.jl ok too, but either I'm mistaken or it's flaky. Doesn't work for me now. I've also been trying different versions, and tried master again just in case.

[2020-04-21 22:17] PallHaraldsson commented on #134
However Gnuplot.jl has this awesome feature: https://gcalderone.github.io/Gnuplot.jl/v1.2.0/terminals/#Plot-in-a-terminal-application-(dumb,-sixel-and-sixelgd)-1 with the right terminal.

[2020-04-21 22:24] PallHaraldsson commented on #134
I for sure should be using qt too in the other package, and haven't gotten "set term wxt size 800,600" to work there (I mean I can put it in the gnuplot REPL mode, but get an error).

I'm not sure it would help, as you confirmed it's an "Ubuntu" issue, at least partially. But GR works. Not sure what's it built on (maybe not QT if that's part of the problem?).

[2020-04-22 14:37] mbaz commented on #134
@PallHaraldsson Gaston also supports plotting on a terminal. You can use either the "dumb" terminal to get an ASCII plot, or "sixelgd" if your terminal supports sixels. See https://discourse.julialang.org/t/plots-in-the-terminal-with-sixel/22503/11?u=mbaz

[2020-05-27 23:37] xiaodaigh opened #135 "Gaston doesn't work on Windows; gnuplot is not available on this system"
This is the error I get when I try using Gaston

[code]

[2020-05-28 16:08] mbaz commented on #135
I don't consider this a bug in Gaston. The documentation clearly states that gnuplot is required. When gnuplot is properly installed, Gason works fine in Windows.

I will leave this bug open (with edited title) as a reminder that I need to study the artifacts scaffolding and see if it makes sense for Gaston. It's very low priority for me, though. I will accept a pull request implementing this.

[2020-06-05 18:38] #134 closed

[2020-06-05 18:38] #132 closed

[2020-06-05 18:38] mbaz commented on #130
Fixed in v1.0.0

[2020-06-05 18:38] #130 closed

[2020-06-05 18:39] mbaz commented on #125
Fixed in v1.0.0

[2020-06-05 18:39] #125 closed

[2020-06-05 18:39] mbaz commented on #72
Fixed in v1.0.0

[2020-06-05 18:39] #72 closed

[2020-06-13 23:07] dact221 opened #136 "Test failed on Windows 10"
Hi

I installed gnuplot on Windows 10 and Gaston.jl on Julia 1.4.2. When I run the tests, one of the 2-D plots fails:

[code]

I tried to replicate the test evaluating line by line in the REPL, and I think I found the problem:

`repr(s, p)` ends with
[code]
so `a[end - 7:end - 2]` is `svg>\r\n` instead of the expected `</svg>`

I also installed gnuplot and Gaston.jl on WSL and it works flawlessly.

[2020-06-14 17:58] mbaz commented on #136
@dact221 Thanks for the report.

Fixing the test case should be easy. The second error you describe puzzles me, since the problem seems to be a missing first character (it should be `reset session`).

Could you run this:

    set(debug=true)
    plot(1:10)

and post the results?

[2020-06-14 18:14] dact221 commented on #136
Hi @mbaz

Warnings about missing characters appear after the second plot shows.

[code]

[2020-06-14 21:45] mbaz commented on #136
Thanks!

This might be due to the difference in newline characters in Linux and Windows, as you suggest, but I'm really not sure. I'll need to borrow a Windows computer to debug this. If you find anything else, please let me know.

[2020-06-15 01:39] mbaz commented on #136
@dact221 Diego, could you please test some changes? First, check out the `testwindows` branch:

    (@v1.4) pkg> add Gaston#testwindows

Then, run the tests and try plotting again.

[2020-06-15 02:04] dact221 commented on #136
Hi @mbaz

The same test fails:

[code]

I evaluated the test line by line and got this:

[code]

That's easy to solve I guess, but I still get warnings because of missing starting characters (sometimes it is more than one character). Also, warnings now appear after the first plot.

[code]

[2020-06-15 13:54] mbaz commented on #136
I'll need to debug this on Windows. It will take me a couple of days I guess. Thanks for running the tests, and for your patience!

[2020-06-15 15:12] mbaz commented on #136
@dact221 I just ran some tests on a Windows 10 machine, and I can't reproduce the problem (except the one failing test; I will fix it). In other words, I can plot any number of times, and it works fine.

I'm at a loss about what could be causing the behavior you see.

Are you running the official 64-bit Julia binary?

What version of gnuplot? I have tested 5.2 patchlevel 7 with MinGW, and also [th

[2020-06-15 15:59] dact221 commented on #136
Hi @mbaz

I am running the official 64-bit Julia binary.

Initially, I was using 5.2 patchlevel 8. I installed patchlevel 7 and it shows the same warnings. Even the binary you suggest shows warnings.

My Windows 10 is Version 2004 OS Build 19041.329 (May 2020 Update).

I see your Windows 10 version is from 2017. Maybe Microsoft did some change in recent versions that breaks Gaston.

[2020-06-15 16:30] mbaz commented on #136
@dact221 I kept running tests, and I eventually was able to reproduce the problem. I found this gem:

[code]
The stream between Gaston and gnuplot is getting corrupted. I'm 99% sure this is not a Gaston bug, but rather Julia's or Windows'. I'll dig a bit more and then I'll probably file a bug in Julia's tracker.

[2020-06-15 16:31] dact221 commented on #136
I installed the same two versions of gnuplot you used in a PC with Win10 version 1909 OS Build 18362.900 (May 2019 Update), and it shows the same warnings.

I also asked a colleague to try Gaston in his PC with Win10 version 1909 OS Build 18363 (November 2019 Update).

[2020-06-15 16:55] mbaz commented on #136
I'm seeing very weird behavior:

* Running `plot(1:10)` almost always works, except that if I quit the plot window (with `'q'`), then the next `plot(1:10)` almost always fails.

* If I use the keyboard when focused on the plot (for example, hit the up-arrow key a few times), then the next plot almost always fails.

[2020-06-15 17:12] dact221 commented on #136
That's very weird behavior indeed. But in recent Windows 10 versions it's worse; it almost always shows warnings.

I was planning to precompile a Julia program with Gaston using PackageCompiler.jl and distribute it between colleagues. For now the executable only works in Linux, but most of my colleagues (civil engineers) are Windows 10 users. I guess they will have to import the output from Julia

[2020-06-15 17:27] mbaz commented on #136
Is using WSL a possible workaround?

[2020-06-15 17:35] dact221 commented on #136
Yes, it is. Actually, my only Linux installation is a Debian 11 Testing on WSL 2. I use X410 as X server for Windows 10, so I can see the plot window.

[2020-06-15 17:47] gaaraujo commented on #136
Hello, I have ran the #testwindows branch with Windows 10.0.18363 Build 18363 and used [this binary](http://ctan.ijs.si/mirror/w32tex/w32/gp55pl0-win64-setup.exe). I have a JuliaPro v. 1.4.0 installation. I am always able to see the plot but if I close the figure manually or using Gaston.closefigure() I get warnings from gnuplot after a few trials.

![image](https://user-images.githubusercontent.c

[2020-06-15 17:50] mbaz commented on #136
@gaaraujo Gustavo, you're seeing the same issue. I don't think it's a bug in Gaston, but I'm gathering as much data as I can on it to file a Julia issue.

In the meantime, the workaround is to use WSL.

[2020-06-15 18:51] gaaraujo commented on #136
Hello again @mbaz
Using the same gnuplot binary, Julia Installation and Windows version, I installed Gnuplot.jl
As in Gaston.jl, the plot always renders.
If I use  @gp "q" and try to plot again, no warnings. But if I close the figure manually and try to plot again, I get the same warning as in Gaston. This makes me think that the bug is not related to Gaston directly, as you suggested.

[code]

[2020-06-15 19:16] mbaz commented on #136
@gaaraujo Thank you for testing this!

I have been running tests of Julia's streams support without finding any bugs. My next step was to try this with Gnuplot.jl, so you saved me some work.

Indeed, this looks like a bug in gnuplot (or at least a bad interaction with Windows streams). I'll look into filing a gnuplot bug report.

[2020-06-15 23:12] mbaz commented on #136
@dact221 @gaaraujo I just reproduced the problem from Python. The good news is that the problem is neither Gaston nor Julia. The bad news is that the problem is either gnuplot or windows -- and who knows how long those will get fixed.

I'd suggest using WSL for the time being.

[2020-06-16 00:04] dact221 commented on #136
@mbaz Thanks for your interest in trying to solve this issue. So far it still allow us to generate the plot besides the warnings and the occasional strange behavior.

We will continue exploring the capabilities of Gaston.jl with PackageCompiler.jl

[2020-06-16 00:58] mbaz commented on #136
Gnuplot issue filed here: https://sourceforge.net/p/gnuplot/bugs/2279/

[2020-06-16 14:55] mbaz commented on #136
@dact221 @gaaraujo If you have a chance, can you try this:

* Install gnuplot 5.2 patchlevel 7, with MinGW (let me know if you need the binary)
* set the terminal to "windows", with `set(term="windows")`

I've been unable to reproduce the problem with this setup.

[2020-06-16 15:12] dact221 commented on #136
Hi @mbaz

When I set the terminal to "windows", I am unable to reproduce the problem. I'm using gnuplot 5.2 patchlevel 8. I think that solves the issue.

Can you implement that terminal switch in Gaston.jl or have Windows users do it in their code?

[2020-06-16 15:22] mbaz commented on #136
@dact221 I will set things up so that, in Windows, the default terminal is "windows" instead of "qt". I will also fix the failing test, and then I'll release v1.0.1. Should take me a couple of days.

[2020-06-16 15:29] dact221 commented on #136
@mbaz Thank you. I really appreciate your work.

@gaaraujo and I already compiled a Julia program with Gaston.jl ([GMDApp](https://github.com/gaaraujo/GMDApp)) and provided it as a pre-release. When you release Gaston.jl v1.0.1, we'll release v1.0 of our program.

[2020-06-17 20:40] mbaz commented on #136
Version 1.0.1 has been released.

[2020-06-17 20:40] #136 closed

[2020-06-18 02:07] mbaz commented on #122
There is an example here: https://mbaz.github.io/Gaston.jl/stable/2d-gallery/#Plotting-times/dates-1

[2020-06-18 02:07] #122 closed

[2020-06-26 13:57] mbaz opened #137 "Add `plot(::Function, x1::Real, x2::Real; samples::Real = 100)` syntax"

[2020-07-20 17:31] nxtruong opened #138 "Error when setting plot title"
I'm using `Gaston v1.0.2` and GNUPLOT v5.2.8 on MacOS, with Julia 1.4.1. GNUPLOT runs fine. When I tried a simple example of Gaston where the plot title is set, for example `plot(1:10,title="A simple plot")`, I got the following error:
[code]

After updating GNUPLOT to version 5.4.0 on MacOS, the above command returned the following error instead:
[code]

[2020-07-21 00:51] mbaz commented on #138
The problem is that `title` requires a string in quotes as argument, for example `'A simple plot'`. Gaston uses the convention that arguments are passed to gnuplot without quotes; this works for example when setting the plot type:  `plot(x, y, with = "points")` passes the argument `points` (no quotes) to gnuplot.

There are a few ways to include the quotes:

* Quote the argument yourself: `plot(x,

[2020-07-21 00:51] #138 closed

[2020-08-03 21:50] VarLad opened #139 "Support for VSCode plots pane"
As you might know, the updates of Juno have been discontinued, the developer is helping with the Julia plugin on VSCode. Can plotting in VSCode's Julia plugin's plot pane be supported in Gaston, like in Juno？Its not working as of now.
I'll be trying it out in Pluto.jl soon too.

[2020-08-16 00:23] sriharitn opened #140 "3D vector support"
Thank you for awesome package. Currently there is no plot facility in Julia that supports it. It would be great to import gnuplot facility into Gaston. As an example please see below gnuplot for 3D vector field.

`splot 'file.dat' using 1:2:3:(1):(1):(1) with vectors filled head lw 2`

[2020-08-16 16:05] mbaz commented on #140
This is possible right now:

    x = 2rand(10);
    y = 2rand(10);
    z = 2rand(10);
    surf(x, y ,z, u = "1:2:3:(1):(1):(1)", w = "vectors filled head", lw=2,
           Axes(xlabel = :x, ylabel = :y, zlabel = :z)

This produces:
![image](https://user-images.githubusercontent.com/1630034/90338586-abf29600-dfb8-11ea-8039-2a887213a95f.png)

Please reopen this issue if you hit any roadblocks.

[2020-08-16 16:05] #140 closed

[2020-08-16 16:13] mbaz commented on #140
If you want to write a recipe for this kind of plot, please see: https://mbaz.github.io/Gaston.jl/stable/extending/  -- if you submit a PR with the recipe, I will likely accept it. Otherwise, I may add a recipe myself in a new release.

[2020-08-16 16:30] sriharitn commented on #140
Thank you. Here is what I'm trying to do:

[code]

I get an error:

[code]

Here is same in gnuplot:

[code]
Produces following output:

![sample_gnuplot](https://user-images.githubusercontent.com/40153228/90339051-338dd400-dfbc-11ea-9b0d-cdab6edd72bd.png)

[2020-08-16 16:41] sriharitn commented on #140
Here is the question that I raised in discourse.julia website:

(https://discourse.julialang.org/t/3d-quiver-plot-and-animation/44645)

[2020-08-17 02:36] mbaz commented on #140
As explained in the manual, `surf` takes only three coordinates as arguments; additional data must be passed using the `supp` argument:

    surf(x, y, z, supp = [dx dy dz], w = "vectors filled head", lw = 2)

[2020-08-17 16:23] ChetanVardhan commented on #139
Is it possible?

[2020-08-18 06:05] Lirimy commented on #139
This works for me, just for information.

[code]

[2020-08-18 07:40] ChetanVardhan commented on #139
Works awesome!
It actually should be there in the documentation.
Thanks  :+1:
Also, any idea how to achieve the same for gnuplots.jl?

[2020-08-18 11:20] ChetanVardhan commented on #139
Thanks again, @Lirimy

[2020-08-20 04:59] bahasalien commented on #135
get the same issued when precompiling gaston. but without poping up alarm stacktrace. after "using Gaston" repeated its works fine.

what is Operating System are you used?

[2020-08-27 14:55] MooersLab opened #141 "Path to temp file written across top of image"
The path to the temp file is written across top of the the saved image when saved from the REPL.
I get the save behavior when the commands are run in IJulia.

I am using Julia 1.5.0 on a Mac OS 10.15.6

[code]

[testGaston.pdf](https://github.com/mbaz/Gaston.jl/files/5137073/testGaston.pdf)
![testGaston](https://user-images.githubusercontent.com/15176203/91458232-e2e36a00-e84a-11ea-9dfd-66559189e9

[2020-08-27 22:43] mbaz commented on #141
This is gnuplot's default behavior: it uses the file path name as a legend. Gaston respects gnuplot's defaults, which is why you get this.

There are two ways to avoid seeing the path to the temp file. The recommended way is to create a gnuplot configuration file. In addition to removing the default legend, you can configure line styles, colors, margins, etcetera. See https://mbaz.github.io/Gaston

[2020-08-27 22:43] #141 closed

[2020-09-07 15:33] mbaz commented on #139
Reopening so I don't forget to add this to the docs.

[2020-09-09 14:36] ChetanVardhan commented on #139
@mbaz Hey, can I ask if development on this package is "complete", or you have better plans for updates in the future?

[2020-09-22 00:51] jleman opened #142 "Point Gaston to gnuplot"
Is it necessary to manually point Gaston.jl to gnuplot?  I installed gnuplot successfully using the windows 64 installer on sourceforge.  Then I added Gaston.jl in Julia.  When prompted I selected the option to add gnuplot to Windows PATH. I the get the following error upon execution of  `using Gaston`

┌ Warning: Gnuplot is not available on this system. Gaston will be unable to produce any plots.

[2020-09-22 13:04] mbaz commented on #142
It shouldn't be necessary if gnuplot is added correctly to your PATH.

Try this: open a terminal and run `gnuplot` from it. If it doesn't work, then it's not in your PATH. If it works, then Gaston should find it as well. Make sure to start a fresh Julia session after installing `gnuplot`.

[2020-09-22 21:04] jleman commented on #142
Ok. Wouldn't run from terminal even though I had checked the option to be added to path.  However, I had the wrong terminal option set.  I corrected that (selected the Windows option) on re-install and it is now working.  Looks like a very capable plot program.  Not sure why I have never heard of gnuplot before.  Looking forward to having access to this in Julia.

[2020-09-23 12:55] mbaz commented on #142
You're very welcome, I'm glad you got it to work.

[2020-09-23 12:55] #142 closed

[2020-09-23 17:37] mbaz opened #143 "`ms` not accepted for marker size"
Needs to be added here: https://github.com/mbaz/Gaston.jl/blob/eed6704ac5faefb5e178aa7d0fa4376705a7e11e/src/gaston_aux.jl#L224

[2020-09-23 19:48] jleman opened #144 "Consider adding a plot size kwarg to the plot() function."
Consider placing the functionality for this code:
`set(termopts="size 600,500")`

in the plot() function.  Something like:
`plot(x,y,size=(600,500))`

[2020-09-23 19:55] mbaz commented on #144
There are two difficulties here:

* `size` outiside a `set terminal` command already means something to gnuplot. The two uses of `size` need to be disambiguated somewhow.
* Currently Gaston builds a terminal command separate from the plot command. This can be changed but involves a bit of plumbing.

However, I think this could help to simplify Gaston's commands and make the interface more uniform.

[2020-10-09 09:55] clad26 opened #145 "Gnuplot artifact？"
Any chance you can make Gnuplot into a Julia artifact？
It can be shared by both Gaston.jl and Gnuplot.jl

[2020-10-09 23:19] mbaz commented on #145
See https://github.com/mbaz/Gaston.jl/issues/135

I want to do this, but I have limited time. Any help or PRs appreciated!

[2020-10-09 23:19] #145 closed

[2020-10-10 13:00] clad26 opened #146 "Interactive Plots in Pluto?"
Any way to rotate and zoom the 3d plots in Pluto?

[2020-10-10 14:14] mbaz commented on #146
It is technically possible, but not supported right now. See https://github.com/mbaz/Gaston.jl/issues/121

The `canvas` and `svg` terminals support javascript. I have not yet tested any of them in Pluto, but I think they should work. The main reason Gaston defaults to PNG in notebooks is that text terminals such as `canvas` and `svg` tend to require multimegabyte amounts of data, which makes inter

[2020-10-10 14:29] clad26 commented on #146
How about the same for VSCode?
Is it possible?

[2020-10-10 14:31] clad26 commented on #146
The workaround for view doesn't allow free rotation. Only around a particular axis.
The workaround for range might also be done with
set terminal svg mousing dynamic

[2020-10-10 14:44] mbaz commented on #146
Regarding `view`, have you tried changing both its arguments? You'll need one slider per argument.

Regarding VS Code, it is supported but not yet documented, see https://github.com/mbaz/Gaston.jl/issues/139. However, Gaston will still generate PNGs, so the rotating/zooming issue remains the same.

[2020-10-10 14:46] clad26 commented on #146
Thanks for the reply! I did try many things with the svg terminal but couldn't get it to rotate....

[2020-10-10 14:48] clad26 commented on #146
Not yet.... I'm trying more for a free rotate....

[2020-10-10 14:50] clad26 commented on #146
The zooming ability might not be really needed... The current plot size is good enough...
But rotation for 3D plots is kinda important...
How does X11 terminal do it... I wonder....

[2020-10-10 15:59] mbaz commented on #146
It seems to work pretty well:

![image](https://user-images.githubusercontent.com/1630034/95659594-1410b480-0af0-11eb-93d5-235fb6a9bc0e.png)

[2020-10-10 22:12] clad26 commented on #135
@mbaz or anyone who's willing to give a try
[code]
The binary was created, although there were a some dependencies unfulfilled
But almost all of them have their binaries already created.
The dependencies I encountered for linux were
cairo
cairo-pdf
pango
pangocairo
glib-2.0
Qt5Core
Qt5Gui
Qt5Network
Qt5Svg
Qt5PrintSupport
I think that qml.jl already has the qt binary
https://github.com/JuliaPackag

[2020-10-10 22:24] mbaz commented on #135
Does this procedure build binaries for Windows and Mac too?

[2020-10-10 22:24] clad26 commented on #135
Yes

Yes
Just after my linux build was over, Windows build started

[2020-10-10 22:25] clad26 commented on #135
Although I had to cancel that one as I've low on internet data here...

[2020-10-10 22:25] mbaz commented on #135
Thanks for the pointers! I will give it a shot soon.

[2020-10-10 22:30] mbaz commented on #135
I'm not going to build for Mac... I'm not willing to agree to any restrictions and legal terms.

[2020-10-10 22:30] clad26 commented on #135
I wanted to implement Gaston in a few Pluto tutorials... although I can't distribute it without artifacts
Gaston is just so good for this, as its lightweight and heavily equipped yet REALLY fast!

[2020-10-10 22:31] clad26 commented on #135
No problem...
I just need the linux and windows build

[2020-10-10 22:59] clad26 commented on #135
Actually why not just put something like
if(Sys,isapple)
 run(` /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)" `)
 run(` brew install gnuplot `)
else if(Sys.iswindows)
download(https://excellmedia.dl.sourceforge.net/project/gnuplot/gnuplot/5.2.8/gp528-win64-mingw.exe)
run(` start gp528-win64-mingw.exe `)

Since the installation process for Windows

[2020-10-10 23:17] mbaz commented on #135
@clad26 That's an interesting thought! Questions:

* For apple, do you need to run those commands as root?
* Is 5.4.0 not available for Windows?
* Would it be acceptable to just print the instructions, and ask the user to execute them?

[2020-10-10 23:26] clad26 commented on #135
5.4.0 for windows was in their testing repo, release candidate 1 is out, it seems
I'd wait though, for a stable release

It seems that to install brew, we need sudo
But for installing with brew we don't

Automatically installing for the user is a better option here. We can print what we're doing and for a yes/no. If no, give an error and don't install Gaston.

[2020-10-10 23:49] clad26 commented on #135
@mbaz Thanks for taking interest！
I hope we get this feature in Gaston.jl soon！

[2020-10-10 23:49] clad26 commented on #135
@mbaz Thanks for taking interest！
I hope we get this feature in Gaston.jl soon！

[2020-10-11 01:54] mbaz commented on #135
@clad26 Thanks for your help! I'll try to get something working soon.

[2020-10-11 07:37] clad26 commented on #135
Much appreciated！
https://github.com/simeonschaub/ArtifactUtils.jl
This might help

[2020-10-11 10:00] clad26 commented on #135
Also, if you're following the Windows method, if the user has an outdated version, it might be better to remove the old version！
run(｀"C:\Program Files\gnuplot\unins000.exe" ｀)
should do the trick！

Also, isn't it possible to just use the Windows build AS THE ARTIFACT？
Its much better than building it yourself every time！

[2020-10-11 10:12] clad26 commented on #135
Artifact using BinaryBuilder is only required for Linux/FreeBSD

For MAC/OSX, you might wanna look into https://github.com/JuliaPackaging/Homebrew.jl
It just outright simplifies the process of building the artifact for Mac/OSX

[2020-10-11 10:13] clad26 commented on #135
This way we can have the artifacts for the three of them....

[2020-10-11 12:25] clad26 commented on #135
Also, taking an idea from the windows build, here's the libraries we might for the linux one...
![Screenshot from 2020-10-11 17-54-16](https://user-images.githubusercontent.com/51269425/95678540-f4aa8200-0bea-11eb-8abc-734a4a072064.png)
bin folder of gnuplot windows build

[2020-10-11 13:14] clad26 commented on #135
From the windows build......
![Screenshot from 2020-10-11 17-54-16](https://user-images.githubusercontent.com/51269425/95679635-cd0ae800-0bf1-11eb-8731-3c66f52e4ff0.png)
bin of gnuplot windows
Might require the same for

[2020-10-11 13:24] clad26 commented on #135
@mbaz I think you can find the equivalent of all the above packages on https://github.com/JuliaPackaging/Yggdrasil/
Just search the name in the repo and you'll probably find it

[2020-10-11 14:05] clad26 commented on #135
I hope the above information helps

[2020-10-11 16:01] mbaz commented on #135
@clad26 This is very useful indeed, thanks a lot! It looks like a non-trivial amount of work, though. I think I'll start with the bare minimum dependencies (i.e. no WxWidgets): I'm thinking Qt, X11, GIF, PNG, SVG, Canvas, Cairo and maybe a couple of others. I can then add other dependencies, if needed and as time allows.

I am not comfortable with modifying a user's installation, though. My plan i

[2020-10-11 17:26] clad26 commented on #135
I'm sure you've heard of CUDA.jl.
When the users install CUDA.jl, it downloads the latest version of the CUDA artifact and uses it.
But the users have an option if they want to skip the artifact download, and switch to the user's installation
Its achieved by making a folder "config" in .julia folder, and making a startup.jl file in it, and typing in startup.jl,
``` ENV["JULIA_CUDA_USE_BINARYBUILDE

[2020-10-11 17:31] clad26 commented on #135
I don't think my Fedora build provides me with wxt either, so that isn't a problem personally for me. qt and x11 are sufficient for anyone.

[2020-10-11 17:42] clad26 commented on #146
Hey, if you're using svg, do you mind if I ask of a feature where we can just see the coordinates at the cursor?
Kinda like this(from gnuplot demo exercise)
It should be trivial to implement, if you're using svg!
![Screenshot from 2020-10-11 23-06-50](https://user-images.githubusercontent.com/51269425/95685702-29ccc980-0c17-11eb-94f3-6a97fa8861cb.png)

[2020-10-11 18:22] clad26 commented on #146
https://github.com/JuliaGizmos/JSExpr.jl with https://stackoverflow.com/questions/5798167/getting-mouse-position-while-dragging-js-html5
might help......
If you know the x and y coordinates of the mouse, real time, then you can use this with ``` view ``` to make the plot rotate with mouse dragging. Same goes for knowing the co-ordinates.

[2020-10-11 21:08] mbaz commented on #135
That'd be nice, but I don't want to try to do too much. I don't have a lot of time to devote to this right now. I prefer to get something out that works, and fine-tune over the next releases.

[2020-10-11 22:11] clad26 commented on #135
It's worth looking into
Its really easy, it seems
https://juliapackaging.github.io/BinaryBuilder.jl/dev/jll/#Non-dev'ed-JLL-packages
In your case, it would simply be

[code]
right?

Well, anyway, its your call!
This would be a nice option for linux users exclusively.
For Windows users, having them use their build is pointless as it would be more or less, the same thing, or Gaston's artifact would

[2020-10-11 22:18] clad26 commented on #135
Also, the size of the collective artifacts matters.... It'd be great if you can keep it somewhere around 20-60mb!

[2020-10-11 22:22] clad26 commented on #135
@mbaz Thanks for taking the time for it! Heavily appreciated!
Within an year, I'll plan on starting contributing as much as I can to make it better!
Gnuplot is kinda complex, so its hard to introduce beginners to it!
Thats really the spot where Gaston kicks in!

[2020-10-14 13:24] clad26 opened #147 "Any way to "set border back" to draw at the back?"

[2020-10-14 15:15] clad26 opened #148 "Feature request - smooth plot in Gaston"
Is making "fit" into a function and smooth into a parameter possible？

[2020-10-14 15:51] #147 closed

[2020-10-14 21:56] clad26 opened #149 "using curveconf makes legend and lc and a few other keywords unusable！"
I hope that the use and need of curveconf is deprecated in one of the future releases of Gaston.
It produces some bugs, plus its very similar to writing gnuplot code, which Gnuplot.jl can already do...

[2020-10-15 01:28] mbaz commented on #149
Can you clarify what the issue is?

`curveconf` is a convenience argument to pass a string directly to gnuplot. You don't have to use it.

[2020-10-15 01:30] mbaz commented on #147
You can also do `plot(...., Axes(border = "back"))`. Any keyword in `Axes` is converted to a gnuplot `set` command.

[2020-10-15 01:35] mbaz commented on #148
You can use `smooth` already:

    plot(rand(20), smooth="csplines")

![image](https://user-images.githubusercontent.com/1630034/96063081-2038a100-0e65-11eb-874f-d80125642750.png)

[2020-10-15 01:38] mbaz commented on #148
Supporting `fit` is difficult. I suggest implementing a fitting algorithm in Julia itself, and using Gaston to plot it.

[2020-10-15 01:38] #148 closed

[2020-10-15 21:34] clad26 commented on #149
plot(x,y,lc=:turquoise, legend=:A_plot, curveconf="smooth csplines")
lc and legend get ignored...
The plot is without legend or with the weird temporary variable name, and line color is still dark blue.

[2020-10-15 21:37] clad26 commented on #135
@mbaz Any chance that, if you're making the binary for linux, then can you build gnuplot 5.5？
It has a new smooth parameter which works on surfaces too. Until this, there was no easy way to do this.
If not, can you give a way to the user to access their version of gnuplot somehow？Thanks

[2020-10-15 21:42] clad26 commented on #148
Do you mind updating the docs then？

[2020-10-15 21:47] clad26 commented on #148
If there's any other function that Gaston has, which is not there in the docs, would you check them and update the docs？

[2020-10-15 21:51] clad26 commented on #148
Does Gaston support every feature of gnuplot as a keyword（other than fit, which has smooth as an alternative）？

[2020-10-16 14:46] mbaz commented on #148
It doesn't support everything -- but it does support everything related to "data" plots where the data is in the form of a numerical table.

[2020-10-16 14:51] mbaz commented on #149
I see now. `curveconf` overrides all other configuration, since otherwise you could easily introduce errors, for example in `plot(y, lc=:turquoise, curveconf="lc 'red'")`.

As I pointed out in one of your other issues, the correct syntax is `plot(y, lc=:turquoise, legend=:A_plot, smooth="csplines")`.

[2020-10-16 15:49] clad26 commented on #146
Hey, do you think that the rotation feature will survive export to static html option?
The slider still works(even though its values don't), when exported to static html. Maybe the plots can survive that too

[2020-10-16 16:10] clad26 commented on #149
Thanks! The keywords of Axes become set command, the parameters of plot are keywords themselves. Didn't know that!
In this way, I guess that Gaston gives almost all functionality of Gnuplot other than fit command, makes everything able to be used in function format.
I'm closing this since my issue is resolved. Thanks a lot again!

[2020-10-16 16:10] #149 closed

[2020-10-16 16:45] mbaz commented on #146
No, I don't think it will. There's no longer an active Julia process or a gnuplot process with static html.

[2020-10-16 17:09] clad26 commented on #146
But the plot image will be svg and you'll rotate it using javascript, right?

[2020-10-16 18:33] mbaz commented on #146
I still need to (1) confirm gnuplot's capabilities with SVG+JS, (2) give this capability to Gaston, and (3) see that it actually works in a notebook.

[2020-10-16 18:33] mbaz commented on #149
You're welcome. I will see if I can make this clearer in the documentation.

[2020-10-16 19:08] clad26 commented on #146
THANKS!
Counting on you for that！😁

[2020-10-16 22:47] clad26 commented on #146
I think its definitely possible for the plots with rotation to survive when exported to static html!
I was just checking out plotly backend of Plots in Pluto.jl
And (this is from Plots documentation
![Screenshot from 2020-10-17 04-10-35](https://user-images.githubusercontent.com/51269425/96320191-4c078280-102f-11eb-91e8-4fac6dde138c.png)
)

You can try it yourself(in a Pluto notebook), if you ever

[2020-10-16 22:52] clad26 commented on #146
Also, not all the features of plotly are requested, but
1. Free rotation using mouse
2. zooming (optional, PlutoUI + Slider + view(...,scale,zscale) works really good on this!)
3. x,y and z co-ordinates on the cursor
It'd be nice if Gaston plots could provide these features!😅

[2020-10-17 09:04] clad26 commented on #146
For the above features, you might want to check out d3.js
https://d3js.org/
Its simple to use and is being used by plotly too!

[2020-10-17 17:10] clad26 opened #150 "Polar plots?"
Any support for, set polar, in Pluto? It can be done with Axes(polar="")
Specifically, how do I do something like
[code]
in Gaston? Thanks!

[2020-10-18 15:23] mbaz commented on #150
plot(0:0.1:2π, sin.(2 .*(0:0.1:2π)), Axes(polar=true, grid=true, size="square"))

If you want `set polar` to be sent to gnuplot, you need `Axes(polar=true)` in Gaston.

Please consider asking support questions in Discourse.

[2020-10-18 15:23] #150 closed

[2020-10-19 23:26] #143 closed

[2020-10-21 02:22] mbaz commented on #146
After some work, I've decided not to implement this (at least in the short term).

* Gaston is an interface to gnuplot, and I want it to remain like that. That means I will not add any additional plotting or interactive functionality not built into gnuplot -- it is not in scope, and I don't have the time to learn everything I would have to.

* Pluto currently does not support javascript defined in

[2020-10-21 02:22] #146 closed

[2020-10-21 02:24] mbaz commented on #121
See https://github.com/mbaz/Gaston.jl/issues/146 for current difficulties implementing this. At least in the short term, this appears impossible to implement within the scope of Gaston.

[2020-10-21 12:23] clad26 commented on #146
Yeah... I think its not worth it to implement it... atleast at the current moment....
As for Canvas and SVG, you're on point, I tested both myself...
The closest you can get is recompiling the qt terminal for web with WASM....By the way, BinaryBuilder has plans to make webasm available as a platform for binaries! That'll open dozens of new options(especially for an old software like gnuplot), alth

[2020-10-21 12:24] clad26 commented on #146
Thanks for taking the time anyway😄

[2020-10-21 12:25] clad26 commented on #135
@mbaz Any update on this? Were you able to get atleast the qt terminal compiled with BinaryBuilder?

[2020-10-21 13:12] mbaz commented on #146
You're welcome -- and thanks for all the suggestions.

[2020-10-21 19:11] clad26 opened #151 "Fearture request: Reactivity in Pluto!"
Is it possible to
1. make the set() function reactive with plot() and surf() function?(if the user calls a set() function, the change is reflected in all plots)
2. make the plot() & surf() function reactive with plot!() and surf!() function?(if the user executes a cell with the plot() or surf() function, all subsequent plot!() and/or surf!() functions are run again too)
?
(Of course, the 1st reque

[2020-11-02 00:13] mbaz opened #152 "Document how to use gnuplot along with Latex"

[2020-11-04 17:53] mbaz opened #153 "Make `aqua` default terminal when running on Mac"

[2020-11-04 17:54] mbaz opened #154 "Add command to show available terminals"

[2020-11-04 18:52] jlchan opened #155 "Some markers don't appear to work on Mac"
The following code
[code]
gives this plot
<img width="958" alt="Screen Shot 2020-11-04 at 12 46 58 PM" src="https://user-images.githubusercontent.com/1156048/98155426-d5c2a700-1e9b-11eb-9991-03def9fd78e2.png">

There's some other odd behavior - 'ecircle' and 'edmd' plot 'etriangle', while 'etriangle' plots 'e'.

The dot, +, x, * symbols seem fine though.

[2020-11-04 21:22] clad26 commented on #135
@mbaz Any plans to make the artifact system a milestone for the 1.1 release?🙂

[2020-11-05 01:06] mbaz commented on #135
@clad26  I've had little time to work on this, but I hope to, yes.

[2020-11-05 01:14] mbaz commented on #155
Could you please run this test: start gnuplot on a terminal, and run:

    set term aqua
    test

and send me a screenshot? What I need is the index to pointtype mapping on the right hand side. I'm thinking that the order is different than in other terminals.

[2020-11-05 01:55] jlchan commented on #155
Sure - here it is

![Uploading Screen Shot 2020-11-04 at 7.55.29 PM.png…]()

[2020-11-05 02:43] mbaz commented on #155
Thanks. Just as I expected, they are different from qt. [This function](https://github.com/mbaz/Gaston.jl/blob/fffbedbc01fc0a802bf2406928d37d4f30ae3f56/src/gaston_aux.jl#L412) needs to be fixed to return the correct mapping when the terminal is `aqua`. I'll get to this, but a PR'd be welcome too :)

[2020-11-05 02:45] jlchan commented on #155
Thanks for letting me know. I can give it a shot this weekend (need to practice my PRs in any case)

[2020-11-05 03:02] mbaz commented on #155
You can do `if config[:term] == "aqua"`.

By the way, if you need to plot with markers now, you can use the numbers shown in the `test` screen directly. The marker names are only provided as a convenience.

[2020-11-05 03:28] jlchan commented on #155
actually, I just realized from the screenshot that there aren't any options for "fcircle" on aqua. It's not a Gaston issue, it's a Mac and aqua issue...

[2020-11-05 03:28] #155 closed

[2020-11-05 16:05] #121 closed

[2020-11-05 22:16] #153 closed

[2020-11-14 14:28] clad26 opened #156 "Zoom and moving around with mouse for Gaston plots, in Pluto"
These two basic functionalities are available easily with svg terminal....
Also, svg terminal is clearer than png one for quality so you might wanna consider that for default....

Also, I did try
set(preamble="set terminal svg size 600,400 dynamic enhanced mousing"), while the size parameter worked, the others didnot.
So.... any way I can implement this myself in Gaston?

[2020-11-14 18:38] mbaz commented on #156
Please don't ask multiple questions in one issue; it becomes difficult to keep track of them. Also, I'd prefer if you asked support questions in Discourse.

You had already opened an issue about support for SVG interactivity in Pluto  [here](https://github.com/mbaz/Gaston.jl/issues/146). The situation has not changed.

Don't use the preamble to set terminal options. Rather, use `termopts`. This is

[2020-11-14 18:38] #156 closed

[2020-11-14 18:55] clad26 commented on #156
The last issue required a lot of hard work
This one is just
``` set term svg enhanced dynamic mousing ```
Easy to implement

Also, in Gaston, with ``` 	set(term = "svg", termopts="size 600,400 dynamic enhanced mousing") ```
Doesn't work
Instead I get this
[code]
The closest I got was with preamble...

[2020-11-14 19:02] clad26 commented on #156
The plots produced with
```  set term svg enhanced dynamic mousing ```
already have zooming and dragging functionality automatically, when displayed on a website... You can try it yourself or look at the http://gnuplot.sourceforge.net/demo_svg_5.5/simple.html

[2020-11-14 19:15] clad26 commented on #156
Also, this works, only the size parameter though
```	set(showable="svg", termopts="size 1000,400 dynamic enhanced mousing") ```

I think its forced on pngcairo on both ijulia and pluto!
![Screenshot from 2020-11-15 00-43-59](https://user-images.githubusercontent.com/51269425/99155196-c2091300-26db-11eb-9546-9b744e9941b4.png)

Is that intentional or a bug?

[2020-11-14 19:21] clad26 commented on #156
@mbaz
Should I open an issue for it?😅

[2020-11-14 20:06] mbaz commented on #156
To enable SVG plotting, you need a Pluto cell with:

    begin
        set(term="svg")
        set(showable="svg")
        set(termopts="dynamic enhanced mousing size 800,600")
    end

However, as explained in https://github.com/mbaz/Gaston.jl/issues/146, you will not get an interactive plot, because Pluto does not execute the javascript embedded in the SVG.

[2020-11-15 08:29] clad26 commented on #156
@mbaz
html"<embed src=\"http://gnuplot.sourceforge.net/demo_svg_5.5/simple.2.svg\"></embed>"
Try it in Pluto!!! Works great!
I'm asking if you can make Gaston display images "by default" using this?
Thanks!

[2020-11-15 09:47] clad26 commented on #156
The above displays svg in Pluto, which can be zoomed dragged and the 2d coordinates are there on mouse pointer

[2020-11-15 15:24] clad26 commented on #156
@mbaz Can you confirm if I can do this by default in Gaston?

[2020-11-15 19:35] mbaz commented on #156
See https://github.com/fonsp/Pluto.jl/issues/546

Support for raw SVG output embedded in an HTML page will be supported in v1.1.0.

[2020-11-15 20:04] clad26 commented on #156
Thanks😁

[2020-11-18 02:02] mbaz commented on #156
This is working on my private development branch. Not available yet, but I wanted to let you know. This branch will become v1.1.0 in (I hope) a couple of weeks.

[2020-12-20 17:40] clad26 commented on #135
@mbaz I heard Plots was getting a Gaston backend, which I think makes the artifacts all the more important!
Any update on the articacts?

[2020-12-22 15:31] mbaz commented on #135
It is a lot of work, and I'm unlikely to do it in the short to medium term. Another reason I'm not enthusiastic about it is that it is trivially easy to install Gnuplot in all supported platforms. I will consider a pull request if someone does the work, though.

[2020-12-31 11:34] sergstesh opened #157 "Enhancement request: please send binary data instead of ASCII to Gnuplot"
I've been using Gaston for a while, and in the past even looked into its source code. I discovered then that Gaston sends ASCII data to Gnuplot. This is not wrong algorithmically, but it degrades speed. Speed is degraded because Gnuplot needs to parse ASCII data; also, amount of data is greater for ASCII than for binary.

Speed is not an issue with small data sets, but for large datasets it is an

[2020-12-31 12:49] sergstesh commented on #157
And I forgot to mention that converting data from internal binary representation into ASCII in Julia interpreter also takes time.

[2020-12-31 15:35] mbaz commented on #157
@sergstesh Thanks for the suggestion. It is a good idea, and you're likely correct that this will improve speed, especially for plots with lots of data. I will try to get this done for v1.1 (a PR would be very welcome, too!).

[2020-12-31 15:38] sergstesh commented on #157
What is "PR" in this case ?

[2020-12-31 18:04] mbaz commented on #157
@sergstesh A "pull request", meaning that you (or someone else) works on the code to implement this, and then requests me to "pull" their code into Gaston.jl. See https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/proposing-changes-to-your-work-with-pull-requests

[2021-01-03 21:28] clad26 commented on #135
@mbaz Whats your experience with wxt terminal?
I'm kinda getting close to the binary, but for now, without qt.
I'm building wxWidgets too, for wxt terminal though
I think that should be a good temporary alternative

[2021-01-04 00:09] mbaz commented on #135
Wxt is a solid terminal in my experience.

[2021-01-04 10:38] clad26 commented on #135
I tried the wxt terminal on Windows yesterday
And it was smoother than qt terminal  for 5.2.8
I still don't know how it performs on Linux+GTK3 and Mac+Cocoa, but I'm expecting a similar performance...
I'm ditching the qt terminal for the wxt terminal for now...

[2021-01-04 14:55] mbaz commented on #135
Question: let's say a user has their own installation of Gnuplot, supporting the Windows terminal, Qt, etc. Then they install Gaston with your artifact, which pulls your gnuplot binaries. Which version of Gnuplot will Gaston use in this case?

[2021-01-04 15:13] clad26 commented on #135
It'll use the artifacts I gues
Similar to CUDA.jl, I want the users to be able to choose https://juliagpu.gitlab.io/CUDA.jl/installation/overview/

[code]

I don't wanna install CUDA twice...Its really big

[2021-01-04 15:17] clad26 commented on #135
I'll properly look into how to do this, once the binaries are built
I initially aimed to do this before 1.6, but I guess it'll take more time than I anticipated...

[2021-01-04 15:22] clad26 commented on #135
By the way, may I ask, are you a MAC user？

[2021-01-04 16:18] mbaz commented on #135
I can go with that scheme, but ideally, it would be opt-in rather than opt-out. Gnuplot is so easy to install in all major platforms, that I think using the artifact will be the less-common scenario.

I don't use Macs at all; I use Linux.

[2021-01-04 17:56] clad26 commented on #135
If your distribution provides it, its great...
But mostly outdated... I use Fedora Linux... and am stuck with 5.2.8-6...
5.4.1 has some cool features like 3D histograms, or so I hear
Even on Windows, they give you the official binary of 5.2.8, but you can get 5.4.1 from chocolatey...

I think the main problem here for me was kinda personal. I wrote a set of tutorials using Gaston for bar plots...

[2021-01-04 17:58] clad26 commented on #135
Also, if in case their own build is somewhat messed up, thats another reason

By the way, I've the book Gnuplot in Action, but I really never read it from top to bottom. I only open it, when I need to learn something very specific, and its not in Docs, Examples, Stackoverflow, etc.

[2021-01-05 02:07] mbaz commented on #135
I agree that some users might benefit from having the binary artifacts, and that's why I'll add this feature if it has the necessary flexibility. Thanks for working on it!

[2021-01-05 08:01] origamist opened #158 "Nothing happens when run from the command line or when included"
Steps to reproduce:

Copy the code from the example into a file, e.g. `plot.jl`:

[code]

In a REPL, run it using `include("plot.jl")`, or run it from the command line using `julia plot.jl`. Nothing will show up.

Now, copy paste the code into an open REPL and see that the gnuplot Qt window shows up.

[2021-01-05 14:50] mbaz commented on #158
Works for me.

What happens if you execute the code in the REPL instead of `include`ing it?

[2021-01-09 13:14] sergstesh opened #159 "When Gaston produces several Gnuplot windows, only the last one normally interact with mouse and keyboard"
I have decided to switch to 'x11' terminal because it seems to be more responsive than the 'qt' one, but I think the problem manifests itself with the 'qt' one too. To reproduce the problem start Julia and copy-paste the following code:

[code]

The code produces 3 Gnuplot windows.

When I try to resize window number 3 (the last one) and when I try to zoom in using mouse, and when I replot using '

[2021-01-09 16:08] mbaz commented on #159
As you found out, the reason for this behavior is that Gaston creates only one gnuplot process, which handles all plots. The advantage is that only one process is created; the disadvantage is that gnuplot can only interact with one plot at a time.

To help in this situation, Gaston has the `figure()` command. Executing `figure(x)` will cause the plot with handle `x` to become current, and all subs

[2021-01-09 16:32] sergstesh commented on #159
"What do you think?" - I think it should just work as it does in GNU Octave. I had literally more than a hundred Gnuplot windows open monitoring generation of some dataset. I actually even ran out of available child processes - after that I was limiting the number of plots.

The real issue is that as a long calculation is being run, I can't interactively set figure(<desired_figure_number>) .

Mayb

[2021-01-10 00:16] mbaz commented on #159
This wouldn't be a trivial change, but let me think about it and see what I can come up with.

[2021-01-10 18:58] sergstesh commented on #159
"let me think about it and see what I can come up with" - thanks for the intent.

I hope you realize that real life usage of plot utility means practical need of several interactive windows while the calculations are still being performed.

"Several" above is because one window can't contain too much data, and because the data maybe kind of "mutually exclusive". For example, I deal a lot with DSP,

[2021-01-11 01:57] mbaz commented on #159
I understand the scenario you describe. That is why I'm considering addressing it, even though it's a non-trivial amount of work.
I hope you also understand that that scenario is not universal; I also do research in DSP and the functionality I built into Gaston has always been sufficient for me.

[2021-01-11 20:31] sergstesh opened #160 "Please clarify documentation on how to produce line-only plots and maybe update defaults"
It may well be I missed something in the documentation - in such a case this report is invalid.

The essence of the problem is that I want a simple y - f(x) plot (whatever 'f') drawn as line only - no characters like '+', 'x', '*', '.' etc. I achieved the goal using the following commands:

[code]
. The key item is "pt ' '", i.e. single space in single quotes after 'pt'.

So, if this info is missi

[2021-01-11 22:32] mbaz commented on #160
Gaston does not have any defaults, except the terimnal type. To configure gnuplot, use a configuration file as explained [here](https://mbaz.github.io/Gaston.jl/stable/#Gnuplot-configuration-1).

To plot using lines and no markers, use the plot style `with lines` (or `w l`). `linespoints` specifies lines and markers ("points" in gnuplot parlance). This is explained in gnuplot's documentation.

[2021-01-11 22:33] #160 closed

[2021-03-29 10:24] fbanning opened #161 "gnuplot crashes when creating basic plot"
In response to a [Zulip conversation](https://julialang.zulipchat.com/#narrow/stream/225542-helpdesk/topic/Plotting.20package.20for.20academia/near/231988217)

[code]

Using gnuplot and creating a demo plot with it works perfectly fine though.

Specs: Win10, Julia 1.6.0, gnuplot 5.4.1
`Gaston.config`:
[code]

[2021-03-29 15:46] mbaz commented on #161
Thanks for the report.

Gaston interacts with gnuplot uisng the stdin/stdout/stderr streams. The problem is likely that these are broken in Windows for Julia 1.6.0.

I will try to reproduce this and figure out the cause. It may take some time, though, since I don't work much on Windows.

[2021-04-02 14:00] VarLad commented on #135
@mbaz Some problems here and there.... Its almost there... I'd say anytime this month
Qt is not available on musl. It has its svg terminal and png/gif terminals. This includes distributions like Alpine Linux. Note that the binary of gnuplot provided with Alpine don't have the qt or wx terminal either

Problems on Windows 32bit. The latest version of gnuplot 5.4.1 for only 64-bit Windows. Even Choc

[2021-04-13 19:01] mbaz commented on #161
Initial tests on Windows 10 seem to indicate that gnuplot 5.4.1 crashes when using the Windows terminal.

[2021-04-13 19:03] mbaz commented on #161
If you have a chance, could you please try:
    using Gaston
    set(term = "qt")
    plot(1:10)

[2021-04-14 13:49] fbanning commented on #161
Yes, qt terminal seems to work and a plot window opens.

However, I also get the following warning:

[code]

[2021-04-14 21:35] mbaz commented on #161
This is a known problem; see the Gnuplot FAQ here:  http://www.gnuplot.info/faq/

One option is to start gnuplot with `-slow` in Windows and Mac, and see if that helps. A second option is to fall back to the `wxt` terminal. Could you try plotting in a fresh session, but with `set(term="wxt")`?

[2021-05-14 13:40] mbaz opened #164 "Use `x`, `o`, etc as markers"
The characters `x`, `o`, etc. are used as shorthand for specific marker types. This clashes with the use of the same characters as text markers.

[2021-05-20 16:52] mbaz opened #165 "Use `read()` instead of `readavailable()`"
As of Julia 1.6, `readavailable()` is no longer recommended; `read()` should be used instead.

[2021-05-28 22:43] mbaz commented on #159
@sergstesh Just a quick note: this is implemented and functional in my local branch, which will become 2.0 sometime in the near future.

[2021-05-30 09:55] sergstesh commented on #159
Thanks.

[2021-06-15 15:58] mbaz commented on #164
This is fixed by passing `'x'`, etc as characters and not strings. Symbols are also accepted.

[2021-06-15 21:46] mbaz commented on #144
I've decided that, for consistency, this needs to be set in the `term` config option, for example:

    set(term = "pdf size 5,3")

or

    set(term = "qt size 800,600")

[2021-06-15 21:46] #144 closed

[2021-07-10 07:29] MKAbdElrahman opened #166 "How to layout multiple plots in a grid ?"
Hi,

First, I would like to thank you for this great package.  It's fast, easy to use and learn and has a beautiful consistent interface.

I need to customize  a table of m x n  figures,  some of them are lineplots and others are surface plots.  I looked at the documentation, but didn't find how.

Thank you!

[2021-07-25 21:16] t-bltg opened #167 "Multiplot for 3d plots"
Hi, multiplot fails if `nothing` is passed as first subplot:

Example
-----
[code]
Output
---
[code]

Encountered in https://github.com/JuliaPlots/Plots.jl/pull/3667.

[2021-07-26 13:04] t-bltg commented on #166
Does this answer your question https://mbaz.github.io/Gaston.jl/stable/introduction/#Multiplot-1 ?

[2021-08-06 07:30] MKAbdElrahman commented on #166
no, all of the plots in

are lineplots. I need to combine surface plots and contour plots in the group.

[2021-08-06 08:37] t-bltg commented on #166
I've added 3d plots with multiplot in Plots.jl with the Gaston backend, can you try with https://docs.juliaplots.org/latest/generated/Gaston ?

[2021-08-11 13:43] LukasKrumwiede opened #169 "Respect terminal setting in config file"
If the terminal setting where determined during the installation of Gnuplot, it is not possible to alter the setting automatic via a config file, because Gaston overwrites the content on every start.

I am working on Windows 10 and the Gnuplot version is 5.4.

[2021-08-18 10:20] LukasKrumwiede opened #171 "plotstring function requires a configuration option for "using" statement"
If one wants to define the border for filling the space between two curves it requires an option to pass the `using` argument in the `plotstring` function. I tried it with curveconf! but the returned string looks like
 `plot 'Temp\jl_VVb16f2sAr' i 0 title 'y1'  using 1:2:3`, but it should have the form:
`plot 'Temp\jl_VVb16f2sAr' using 1:2:3 i 0 title 'y1' w filledcurves`

[2022-01-26 18:18] oameye commented on #152
Already looking forward to this!!!

[2022-01-29 17:49] jleman opened #172 "Gaston does not seem to be working with gnuplot 5.4"
I tried upgrading to the latest version of gnuplot 5.4.3 (January 2022).  Executing a plot function results in apparently indefinite execution. I'm using Julia versions 1.6.3 and 1.7.1 and Jupyter notebook 6.4.0.  Here was my test snippet.  No error message is produced, it just continues processing with no output.

[code]

[2022-01-30 00:02] mbaz commented on #172
What OS? What is the latest version of gnuplot that works for you?

[2022-01-30 04:37] jleman commented on #172
OS is Windows 10.    gnuplot version 5.2.8 works.

[2022-01-30 16:58] mbaz commented on #172
Please try setting the terminal to `windows`:
[code]
Gnuplot 5.4 introduced some changes in the way they handle stdin/stdout that causes it to sometimes fail when using `qt` terminals. In my (limited) experience, using the `windows` terminal fixes this issue.

[2022-03-02 22:31] #167 closed

[2022-03-14 22:53] rc-reding opened #174 "Cannot plot insets with Gaston"
Hi,

I'm trying to generate a figure that has a main plot + an inset with extra information using Gaston to no avail (works from gnuplot). What I'm trying to do is this (example):
[code]

When I set multiplot mode through `Gaston.gnuplot_send("set multiplot")`, it fails with the warning
[code]

Is it something I'm doing wrong (no mention in the documentation) or is it not implemented? It feels to

[2022-03-15 13:30] rc-reding commented on #174
Cool! I was worried it was me and was going a bit nuts. I'll keep an eye on that note.

[2022-03-15 13:30] #174 closed

[2022-04-13 15:11] RoyiAvital opened #176 "Add Support for Defining the Path for GnuPlot Bin Folder by a System Variable"
See https://github.com/mbaz/Gaston.jl/discussions/175.

[2022-04-13 15:44] mbaz commented on #176
Aiming to include this is in the upcoming v2.0 release.

[2022-04-13 22:38] mbaz commented on #176
Fixed in main branch, will appear in v2.0.

[2022-04-13 22:38] #176 closed

[2022-09-23 08:35] supernovaZhangJiaXing opened #177 "Warning when saving figure"
When I tried to save a figure by `save(term="png", output="test.png")`, I got a warning message:
[code]
Maybe there is something wrong around the transfer between Gaston and gnuplot.

[2022-09-24 16:27] mbaz commented on #177
@supernovaZhangJiaXing What operating system are you using?

[2022-09-28 02:49] supernovaZhangJiaXing commented on #177
The OS is win10, versioninfo() returns:
[code]

[2022-09-29 13:54] mbaz commented on #177
I've seen this Windows issue before. Unfortunately, I don't have a solution. I had a lengthy chat with gnuplot's developers about this and we couldn't figure out the cause. The more likely explanation is that `libuv` (which handles all Julia IO) behaves differently on Windows than gnuplot expects.

The real solution is to wait for Gaston v2.0, which is nearing completion. It handles communication

[2022-09-29 13:54] #177 closed